openapi: 3.0.3
info:
  title: 'MaisCapinhas ERP API - Documentação'
  description: 'API REST para gestão de vendas, metas, fechamento de caixa, bônus e comissões do ERP MaisCapinhas.'
  version: 1.0.0
servers:
  -
    url: 'https://api.maiscapinhas.com.br'
tags:
  -
    name: 'Saúde & Versão'
    description: "\nEndpoints para verificação de saúde e status da API.\nEstes endpoints são públicos e não requerem autenticação."
  -
    name: Autenticação
    description: "\nEndpoints para autenticação via Bearer Token (Sanctum).\nA API suporta dois modos de autenticação:\n\n1. **Bearer Token** (recomendado para desenvolvimento e integrações)\n2. **Cookie SPA** (para frontends React/Vue com `withCredentials`)\n\n**Auditoria:** Todas as ações de autenticação (login, logout) são\nregistradas no log de auditoria com IP e user-agent."
  -
    name: 'Perfil do Usuário'
    description: "\nEndpoints para obter e atualizar informações do usuário autenticado."
  -
    name: Lojas
    description: "\nEndpoints para consultar lojas às quais o usuário tem acesso.\nO usuário só pode visualizar lojas onde está vinculado via `store_users`."
  -
    name: Dashboards
    description: "\nEndpoints de dashboard com métricas e KPIs personalizados por perfil de usuário.\n\nCada dashboard retorna informações otimizadas para o papel do usuário:\n- **Vendedor**: Foco em gamificação, bônus e comissão pessoal\n- **Conferente**: Foco em fechamentos pendentes e integridade de caixa\n- **Admin/Gerente**: Visão consolidada de todas as lojas\n\n**Regras de Acesso:**\n- Usuário só vê dados das lojas às quais tem acesso\n- Dashboard específico depende da role do usuário na loja"
  -
    name: Vendas
    description: "\nGerenciamento de vendas registradas no sistema MaisCapinhas ERP.\n\nAs vendas são o **coração do sistema financeiro**, pois a partir delas\nsão calculados:\n- **Bônus diário** - baseado no total de vendas do dia\n- **Comissão mensal** - baseado no atingimento de meta\n- **KPIs de desempenho** - taxa de conversão, ticket médio\n\n**Fontes de Vendas:**\n| Origem | Descrição |\n|--------|-----------|\n| `pdv` | Importação automática do sistema de PDV |\n| `manual` | Cadastro manual via esta API |\n| `import` | Importação em lote (planilha CSV) |\n\n**Regras de Negócio Importantes:**\n- Cada venda pertence a uma **loja** (`store_id`) e um **vendedor** (`seller_id`)\n- A venda conta para a meta da **loja** onde foi realizada\n- A comissão vai para o **vendedor**, mesmo que seja \"volante\"\n- Alterações em vendas disparam recálculo automático de bônus/comissão\n\n**Impacto no Bônus:**\nQuando uma venda é criada/alterada, o sistema automaticamente\nrecalcula o bônus diário do vendedor (via Job assíncrono)."
  -
    name: 'Turnos de Caixa'
    description: "\nEndpoints para gerenciar turnos de caixa.\nCada turno representa um período de trabalho de um vendedor em uma loja."
  -
    name: 'Fechamento de Caixa'
    description: "\nEndpoints para gerenciar o fluxo de fechamento de caixa.\n\n**Workflow de Estados:**\n```\ndraft → submitted → approved\n                  → rejected → draft → ...\n```\n\n- `draft` - Rascunho (editável)\n- `submitted` - Enviado para conferência\n- `approved` - Aprovado (imutável)\n- `rejected` - Rejeitado (volta para draft para correção)"
  -
    name: 'Regras de Bônus'
    description: "\nGerenciamento de regras de bônus diário.\nRegras definem faixas de vendas mínimas e valores de bônus correspondentes.\n\n**Hierarquia de regras:**\n- Regra específica de loja (`store_id` preenchido) tem prioridade sobre regra global\n- Regra mais recente (`effective_from` maior) tem prioridade\n- Versionamento automático a cada atualização"
  -
    name: 'Regras de Comissão'
    description: "\nGerenciamento de regras de comissão mensal.\nRegras definem faixas de atingimento de meta e taxas de comissão.\n\n**Hierarquia de regras:**\n- Regra específica de loja tem prioridade sobre global\n- Comissão calculada: vendas × taxa (baseada no % de atingimento)"
  -
    name: 'Metas Mensais'
    description: "\nGerenciamento de metas mensais por loja e distribuição entre vendedores (splits).\nCada split define a porcentagem da meta que cada vendedor deve atingir.\n\n**Regra:** A soma dos splits deve ser exatamente 100%."
  -
    name: 'Extrato Financeiro'
    description: "\nEndpoints para consultar o extrato de bônus diário e comissão mensal.\nVendedores veem apenas seus próprios dados; gerentes/admins veem todos."
  -
    name: 'People Analytics'
    description: "\nEndpoints para consultar e inserir KPIs de fluxo de pessoas por turno.\nDados podem vir de sincronização com FastAPI ou inserção manual."
  -
    name: 'Administração - Logs de Auditoria'
    description: "\nConsulta de logs de auditoria do sistema.\n\nEste endpoint permite que administradores visualizem todas as\nações registradas no sistema para fins de auditoria e compliance.\n\n**Tipos de eventos registrados:**\n| Domínio | Eventos |\n|---------|---------|\n| `auth` | login, logout, login_failed |\n| `cash` | cash_closing.submit, approve, reject |\n| `rules` | bonus/commission create, update, delete |\n| `goals` | monthly.create, update, splits.set |\n| `sales` | create, update, delete |\n| `admin` | user/store create, update, delete |\n\n**Quem pode usar:** Apenas administradores."
  -
    name: 'Administração - Lojas'
    description: "\nGerenciamento das lojas (pontos de venda) do sistema MaisCapinhas ERP.\n\nCada loja representa uma unidade física de venda com:\n- Equipe própria (vendedores, conferentes, gerentes)\n- Metas mensais individuais\n- Turnos de caixa e fechamentos\n- Regras de bônus/comissão (podem ser específicas ou herdar as globais)\n\n**Hierarquia de Dados:**\n```\nLoja\n├── Usuários (via store_users com roles)\n├── Vendas (registradas por vendedores)\n├── Turnos de Caixa (por data/turno/vendedor)\n├── Metas Mensais (com splits por vendedor)\n└── Regras de Bônus/Comissão (opcionais, específicas)\n```\n\n**Regras de Negócio:**\n- Uma loja desativada não aparece na lista de lojas do usuário comum\n- Dados históricos são mantidos para auditoria\n- Lojas são identificadas por ID numérico (não há código de loja)\n\n**Auditoria:** Todas as operações são registradas via Spatie ActivityLog."
  -
    name: 'Administração - Usuários'
    description: "\nGerenciamento centralizado de usuários do sistema MaisCapinhas ERP.\n\nEste módulo permite criar, editar, listar e desativar usuários,\nalém de vincular usuários a lojas com roles específicas.\n\n**Modelo de Permissões:**\n- Cada usuário pode estar vinculado a múltiplas lojas\n- Em cada loja, o usuário tem uma role: `admin`, `gerente`, `conferente` ou `vendedor`\n- Usuários desativados perdem acesso a todos os endpoints protegidos\n\n**Regras de Negócio:**\n- Email deve ser único no sistema\n- Não é possível desativar o próprio usuário\n- Ao desativar, todos os tokens de acesso são revogados\n\n**Auditoria:** Todas as operações são registradas via Spatie ActivityLog."
  -
    name: 'Administração - Vínculos Loja-Usuário'
    description: "\nGerenciamento dos vínculos entre lojas e usuários (tabela `store_users`).\n\nEste módulo controla **qual usuário trabalha em qual loja** e com\n**qual nível de permissão (role)**.\n\n**Sistema de Roles:**\n| Role | Pode fazer |\n|------|------------|\n| `admin` | Tudo: gerenciar usuários, lojas, regras, confirmar comissões |\n| `gerente` | Gerenciar equipe da loja, aprovar fechamentos, ver dashboards |\n| `conferente` | Aprovar/rejeitar fechamentos de caixa |\n| `vendedor` | Registrar vendas, submeter fechamento do próprio turno |\n\n**Regras de Negócio:**\n- Um usuário pode ter roles diferentes em lojas diferentes\n- A role `admin` em qualquer loja dá acesso administrativo global\n- Vendedor \"volante\" pode trabalhar temporariamente em outra loja\n- Não é possível remover seu próprio vínculo (proteção)\n\n**Vínculo × Comissão:**\n- Vendas são sempre registradas na loja onde ocorreram (`store_id` da venda)\n- Comissão vai para o vendedor que realizou a venda (`seller_id`)\n- Meta é calculada pela loja + split configurado"
  -
    name: Bio
    description: "\nEndpoints públicos para exibição na Bio do Instagram.\nEstes endpoints não requerem autenticação."
  -
    name: 'Capas Personalizadas'
    description: "\nGestão de capas de celular personalizadas.\nCapas são produtos criados sob demanda com fotos enviadas pelos clientes.\n\n**Fluxo de status:**\n1. Aguardando Foto (1) → Cliente envia foto\n2. Encomenda Solicitada (2) → Aguardando produção\n3. Capa Paga (3) → Pagamento registrado\n4. Pronta para entrega (4) → Produção concluída\n5. Entregue (5) → Cliente recebeu\n6. Cancelada (6)\n\n**Escopo de acesso:**\n- Super admins e admins globais: acesso a todas as capas\n- Outros usuários: apenas capas que criaram\n\n**Permissões:** Todos os usuários autenticados (exceto endpoints públicos)."
  -
    name: 'Catálogo - Marcas de Telefone'
    description: "\nGestão de marcas de telefone do catálogo.\nMarcas são usadas para categorizar modelos de telefone.\n\n**Leitura:** Todos os usuários autenticados.\n**Escrita:** Apenas administradores."
  -
    name: 'Catálogo - Modelos de Telefone'
    description: "\nGestão de modelos de telefone do catálogo.\nModelos são vinculados a marcas e usados para associar dispositivos de clientes.\n\n**Leitura:** Todos os usuários autenticados.\n**Escrita:** Apenas administradores."
  -
    name: Clientes
    description: "\nGestão de clientes e seus dispositivos (celulares).\nClientes são usados para associar pedidos e capas personalizadas.\n\n**Escopo de acesso:**\n- Super admins e admins globais: acesso a todos os clientes\n- Outros usuários: apenas clientes que criaram ou possuem pedidos/capas associadas\n\n**Permissões:** Todos os usuários autenticados."
  -
    name: 'Comunicação Interna - Avisos'
    description: "\nEndpoints para gerenciamento de avisos e comunicados internos.\nO sistema permite criar, publicar e acompanhar avisos direcionados a:\n- **Todos os usuários** (scope global)\n- **Lojas específicas** (scope store)\n- **Usuários específicos** (scope user)\n- **Cargos específicos** (scope role)\n\n**Funcionalidades:**\n- Criação e edição de avisos com suporte a imagens e call-to-action\n- Publicação imediata ou agendada\n- Controle de leitura (seen), confirmação (ack) e dispensa (dismiss)\n- Estatísticas de engajamento em tempo real\n- Duplicação e republicação de avisos arquivados\n\n**Níveis de severidade:** `info`, `warning`, `danger`\n\n**Permissões:** Apenas administradores e gerentes podem criar e gerenciar avisos."
  -
    name: 'Fábrica - Pedidos de Produção'
    description: "\nPortal da fábrica para gestão de pedidos de produção de capas personalizadas.\nEstes endpoints são exclusivos para usuários com papel de fábrica (middleware `fabrica`).\n\n**Fluxo de produção:**\n1. Admin envia capas para produção → Pedido criado com status `pending`\n2. Fábrica aceita pedido (informa valor) → Status `accepted`\n3. Fábrica despacha pedido (informa rastreio) → Status `dispatched`\n4. Admin recebe pedido → Status `received`\n\n**Permissões:** Apenas usuários com papel de fábrica."
  -
    name: Pedidos
    description: "\nGestão de pedidos de clientes nas lojas.\nPedidos representam solicitações de clientes que podem incluir capas personalizadas ou produtos do catálogo.\n\n**Escopo de acesso:**\n- Super admins e admins globais: acesso a todos os pedidos\n- Outros usuários: apenas pedidos que criaram\n\n**Status do pedido:** 1=Novo, 2=Em produção, 3=Pronto, 4=Entregue, 5=Cancelado\n\n**Permissões:** Todos os usuários autenticados."
  -
    name: 'Produção - Administração'
    description: "\nAções administrativas do sistema de produção.\n\n**Permissões:** Apenas super administradores."
  -
    name: 'Produção - Carrinho'
    description: "\nGerenciamento do carrinho de produção para agrupar capas personalizadas antes de enviar à fábrica.\n\n**Fluxo do carrinho:**\n1. Obter/criar carrinho aberto (um por usuário por vez)\n2. Validar capas antes de adicionar (dry-run opcional)\n3. Adicionar capas ao carrinho\n4. Fechar carrinho → cria pedido de produção\n\n**Regras de negócio:**\n- Cada usuário pode ter apenas um carrinho aberto por vez\n- Capas devem estar com status \"Encomenda Solicitada\" para serem adicionadas\n- Capas já em outro carrinho/pedido são bloqueadas\n\n**Permissões:** Administradores e gerentes."
  -
    name: 'Produção - Pedidos (Admin)'
    description: "\nGestão de pedidos de produção pelo administrador.\nEstes endpoints são utilizados após o fechamento do carrinho de produção.\n\n**Fluxo do pedido:**\n1. Pedido criado ao fechar carrinho → Status `pending`\n2. Fábrica aceita → Status `accepted`\n3. Fábrica despacha → Status `dispatched`\n4. Admin recebe → Status `received` (este controller)\n5. Ou Admin cancela → Status `cancelled`\n\n**Permissões:** Administradores e gerentes."
  -
    name: 'Relatórios - Ranking'
    description: "\nEndpoints para ranking de vendedores e consultas relacionadas."
  -
    name: 'Relatórios Gerenciais'
    description: "\nEndpoints de relatórios avançados para gestão e auditoria.\n\nEste módulo fornece KPIs estratégicos para tomada de decisão:\n- **Performance de Loja** - Atingimento de meta, crescimento YoY, projeções\n- **Integridade de Caixa** - % de quebra, divergências, alertas\n\n**Público-alvo:**\n- Gerentes e Admins para visão estratégica\n- Conferentes para auditoria de caixa\n- Sócios para acompanhamento financeiro\n\n**Cache:** Dados históricos (ano passado) são cacheados para performance."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: "    Para obter um token, faça login em `POST /api/v1/auth/login` com email e senha.\n\n    **Usuários de teste:**\n    - `admin@maiscapinhas.com.br` / `password` (Admin - todas as lojas)\n    - `joao.vendedor@maiscapinhas.com.br` / `password` (Vendedor - Tijucas)\n\n    O token deve ser enviado no header `Authorization: Bearer {token}`.\n\n    **Modo SPA (Cookie):** Para aplicações frontend, use `withCredentials: true` após obter o CSRF token em `/sanctum/csrf-cookie`."
security:
  -
    default: []
paths:
  /api/v1/health:
    get:
      summary: 'Verificar saúde da API'
      operationId: verificarSadeDaAPI
      description: "Retorna o status de saúde da API. Use este endpoint para\nverificar se a API está online e respondendo corretamente.\n\n**Casos de uso:**\n- Monitoramento de uptime (Uptime Robot, Pingdom, etc.)\n- Health checks em load balancers\n- Verificação de conectividade antes de operações\n\n**Resposta:**\n- `status: \"ok\"` - API funcionando normalmente\n- `timestamp` - Data/hora ISO 8601 da requisição"
      parameters: []
      responses:
        200:
          description: 'API saudável'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: ok
                    timestamp: '2026-01-07T12:00:00+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: ok
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00+00:00'
      tags:
        - 'Saúde & Versão'
      security: []
  /api/v1/version:
    get:
      summary: 'Obter versão da API'
      operationId: obterVersoDaAPI
      description: "Retorna informações sobre a versão atual da API, incluindo\nversões do PHP e Laravel utilizadas.\n\n**Casos de uso:**\n- Verificar compatibilidade de versão antes de integrações\n- Debug e troubleshooting\n- Documentação técnica\n\n**Resposta:**\n- `name` - Nome da API\n- `api` - Versão da API (v1, v2, etc.)\n- `php` - Versão do PHP\n- `laravel` - Versão do Laravel"
      parameters: []
      responses:
        200:
          description: 'Versão atual'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    name: 'MaisCapinhas ERP API'
                    api: v1
                    php: 8.3.16
                    laravel: 12.45.2
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        example: 'MaisCapinhas ERP API'
                      api:
                        type: string
                        example: v1
                      php:
                        type: string
                        example: 8.3.16
                      laravel:
                        type: string
                        example: 12.45.2
      tags:
        - 'Saúde & Versão'
      security: []
  /api/v1/auth/login:
    post:
      summary: 'Fazer login e obter token'
      operationId: fazerLoginEObterToken
      description: "Autentica o usuário e retorna um Bearer Token para uso nas próximas requisições.\n\n**Quem pode usar:** Qualquer usuário ativo com email e senha válidos.\n\n**Regras de negócio:**\n- Usuários inativos (`active = false`) não podem fazer login\n- O token não expira automaticamente, mas pode ser revogado via logout\n- Cada login gera um novo token (múltiplos dispositivos são permitidos)\n- Todas as tentativas de login são registradas para auditoria\n\n**Erros possíveis:**\n- `422` - Credenciais inválidas ou conta desativada"
      parameters: []
      responses:
        200:
          description: 'Login bem-sucedido'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    token: 1|abc123xyz...
                    token_type: Bearer
                    user:
                      id: 1
                      name: 'Admin Sistema'
                      email: admin@maiscapinhas.com.br
                  meta:
                    request_id: abc-123
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 1|abc123xyz...
                      token_type:
                        type: string
                        example: Bearer
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Admin Sistema'
                          email:
                            type: string
                            example: admin@maiscapinhas.com.br
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: abc-123
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Credenciais inválidas'
                    type: object
                    example:
                      message: 'The provided credentials are incorrect.'
                      errors:
                        email:
                          - 'The provided credentials are incorrect.'
                    properties:
                      message:
                        type: string
                        example: 'The provided credentials are incorrect.'
                      errors:
                        type: object
                        properties:
                          email:
                            type: array
                            example:
                              - 'The provided credentials are incorrect.'
                            items:
                              type: string
                  -
                    description: 'Conta desativada'
                    type: object
                    example:
                      message: 'This account is deactivated.'
                      errors:
                        email:
                          - 'This account is deactivated.'
                    properties:
                      message:
                        type: string
                        example: 'This account is deactivated.'
                      errors:
                        type: object
                        properties:
                          email:
                            type: array
                            example:
                              - 'This account is deactivated.'
                            items:
                              type: string
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email do usuário.'
                  example: admin@maiscapinhas.com.br
                password:
                  type: string
                  description: 'Senha do usuário.'
                  example: password
                device_name:
                  type: string
                  description: 'Nome do dispositivo (opcional, usado para identificar tokens).'
                  example: postman-dev
              required:
                - email
                - password
      security: []
  /api/v1/auth/forgot-password:
    post:
      summary: 'Solicitar recuperação de senha'
      operationId: solicitarRecuperaoDeSenha
      description: "Envia um email com link para redefinir a senha.\nO link expira em 60 minutos.\n\n**Quem pode usar:** Qualquer usuário com email cadastrado.\n\n**Rate Limit:** 3 tentativas por minuto por IP."
      parameters: []
      responses:
        200:
          description: 'Email enviado'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Email de recuperação enviado.'
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Email de recuperação enviado.'
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        422:
          description: 'Email não encontrado'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Não encontramos um usuário com esse email.'
                properties:
                  message:
                    type: string
                    example: 'Não encontramos um usuário com esse email.'
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email cadastrado.'
                  example: joao@maiscapinhas.com.br
              required:
                - email
      security: []
  /api/v1/auth/reset-password:
    post:
      summary: 'Redefinir senha'
      operationId: redefinirSenha
      description: "Redefine a senha usando o token recebido por email.\n\n**Quem pode usar:** Qualquer usuário com token válido."
      parameters: []
      responses:
        200:
          description: 'Senha alterada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Senha alterada com sucesso.'
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Senha alterada com sucesso.'
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        422:
          description: 'Token inválido'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Token de recuperação inválido ou expirado.'
                properties:
                  message:
                    type: string
                    example: 'Token de recuperação inválido ou expirado.'
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'Token recebido por email.'
                  example: abc123...
                email:
                  type: string
                  description: 'Email do usuário.'
                  example: joao@maiscapinhas.com.br
                password:
                  type: string
                  description: 'Nova senha (mínimo 8 caracteres).'
                  example: novaSenha123
                password_confirmation:
                  type: string
                  description: 'Confirmação da nova senha.'
                  example: novaSenha123
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  /api/v1/auth/logout:
    post:
      summary: 'Fazer logout (revogar token atual)'
      operationId: fazerLogoutrevogarTokenAtual
      description: "Revoga o token que foi usado para autenticar esta requisição.\nOs demais tokens do usuário (outros dispositivos) permanecem válidos.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Auditoria:** A ação de logout é registrada com IP e horário."
      parameters: []
      responses:
        200:
          description: 'Logout bem-sucedido'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Successfully logged out.'
                  meta:
                    request_id: abc-123
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Successfully logged out.'
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: abc-123
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
      tags:
        - Autenticação
  /api/v1/auth/logout-all:
    post:
      summary: 'Revogar todos os tokens'
      operationId: revogarTodosOsTokens
      description: "Revoga **todos** os tokens do usuário, desconectando-o de todos os dispositivos.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Auditoria:** A ação é registrada como logout_all."
      parameters: []
      responses:
        200:
          description: 'Todos tokens revogados'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'All tokens revoked.'
                  meta:
                    request_id: abc-123
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'All tokens revoked.'
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: abc-123
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
      tags:
        - Autenticação
  /api/v1/auth/password:
    put:
      summary: 'Alterar própria senha'
      operationId: alterarPrpriaSenha
      description: "Permite ao usuário logado alterar sua própria senha.\n\n**Quem pode usar:** Qualquer usuário autenticado."
      parameters: []
      responses:
        200:
          description: 'Senha alterada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Senha alterada com sucesso.'
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Senha alterada com sucesso.'
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        422:
          description: 'Senha atual incorreta'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'A senha atual está incorreta.'
                properties:
                  message:
                    type: string
                    example: 'A senha atual está incorreta.'
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: 'Senha atual.'
                  example: senhaAtual123
                password:
                  type: string
                  description: 'Nova senha (mínimo 8 caracteres).'
                  example: novaSenha123
                password_confirmation:
                  type: string
                  description: 'Confirmação da nova senha.'
                  example: novaSenha123
              required:
                - current_password
                - password
                - password_confirmation
  /api/v1/me:
    get:
      summary: 'Obter perfil do usuário atual'
      operationId: obterPerfilDoUsurioAtual
      description: "Retorna os dados do usuário autenticado, incluindo as lojas\nàs quais ele tem acesso e seu papel (role) em cada uma.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Informações retornadas:**\n- Dados básicos do usuário (id, nome, email, status ativo)\n- Dados de perfil (whatsapp, avatar_url, instagram)\n- Datas para celebração (birth_date, hire_date)\n- Lista de lojas com o papel do usuário em cada uma\n\n**Papéis possíveis:**\n- `admin` - Administrador global (acesso total)\n- `gerente` - Gerente da loja (gerencia vendedores e metas)\n- `conferente` - Confere fechamentos de caixa\n- `vendedor` - Vendedor (registra vendas e turnos)"
      parameters: []
      responses:
        200:
          description: 'Perfil com múltiplas lojas'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    user:
                      id: 1
                      name: 'Admin Sistema'
                      email: admin@maiscapinhas.com.br
                      active: true
                      whatsapp: '47999999999'
                      avatar_url: 'https://example.com/avatar.jpg'
                      instagram: '@maiscapinhas'
                      birth_date: '1990-05-15'
                      hire_date: '2022-01-09'
                      created_at: '2026-01-01T00:00:00+00:00'
                    stores:
                      -
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                        city: Tijucas
                        role: admin
                      -
                        id: 2
                        name: 'Mais Capinhas Itapema'
                        city: Itapema
                        role: admin
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Admin Sistema'
                          email:
                            type: string
                            example: admin@maiscapinhas.com.br
                          active:
                            type: boolean
                            example: true
                          whatsapp:
                            type: string
                            example: '47999999999'
                          avatar_url:
                            type: string
                            example: 'https://example.com/avatar.jpg'
                          instagram:
                            type: string
                            example: '@maiscapinhas'
                          birth_date:
                            type: string
                            example: '1990-05-15'
                          hire_date:
                            type: string
                            example: '2022-01-09'
                          created_at:
                            type: string
                            example: '2026-01-01T00:00:00+00:00'
                      stores:
                        type: array
                        example:
                          -
                            id: 1
                            name: 'Mais Capinhas Tijucas'
                            city: Tijucas
                            role: admin
                          -
                            id: 2
                            name: 'Mais Capinhas Itapema'
                            city: Itapema
                            role: admin
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Mais Capinhas Tijucas'
                            city:
                              type: string
                              example: Tijucas
                            role:
                              type: string
                              example: admin
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
      tags:
        - 'Perfil do Usuário'
    put:
      summary: 'Atualizar perfil do usuário atual'
      operationId: atualizarPerfilDoUsurioAtual
      description: "Permite ao usuário autenticado atualizar seus próprios dados de perfil.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Campos editáveis:**\n- `email` - Deve ser único e válido\n- `whatsapp` - Formato brasileiro (opcional)"
      parameters: []
      responses:
        200:
          description: 'Perfil atualizado'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    user:
                      id: 1
                      name: 'Admin Sistema'
                      email: novoemail@maiscapinhas.com.br
                      active: true
                      whatsapp: '47988887777'
                      avatar_url: 'https://example.com/avatar.jpg'
                      instagram: '@maiscapinhas'
                      birth_date: '1990-05-15'
                      hire_date: '2022-01-09'
                      created_at: '2026-01-01T00:00:00+00:00'
                    stores:
                      -
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                        city: Tijucas
                        role: admin
                  meta:
                    timestamp: '2026-01-10T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Admin Sistema'
                          email:
                            type: string
                            example: novoemail@maiscapinhas.com.br
                          active:
                            type: boolean
                            example: true
                          whatsapp:
                            type: string
                            example: '47988887777'
                          avatar_url:
                            type: string
                            example: 'https://example.com/avatar.jpg'
                          instagram:
                            type: string
                            example: '@maiscapinhas'
                          birth_date:
                            type: string
                            example: '1990-05-15'
                          hire_date:
                            type: string
                            example: '2022-01-09'
                          created_at:
                            type: string
                            example: '2026-01-01T00:00:00+00:00'
                      stores:
                        type: array
                        example:
                          -
                            id: 1
                            name: 'Mais Capinhas Tijucas'
                            city: Tijucas
                            role: admin
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Mais Capinhas Tijucas'
                            city:
                              type: string
                              example: Tijucas
                            role:
                              type: string
                              example: admin
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-10T12:00:00Z'
        422:
          description: 'Validação falhou'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The email has already been taken.'
                  errors:
                    email:
                      - 'The email has already been taken.'
                properties:
                  message:
                    type: string
                    example: 'The email has already been taken.'
                  errors:
                    type: object
                    properties:
                      email:
                        type: array
                        example:
                          - 'The email has already been taken.'
                        items:
                          type: string
      tags:
        - 'Perfil do Usuário'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email do usuário.'
                  example: usuario@email.com
                whatsapp:
                  type: string
                  description: 'Número de WhatsApp.'
                  example: '47999999999'
                  nullable: true
  /api/v1/stores:
    get:
      summary: 'Listar lojas do usuário'
      operationId: listarLojasDoUsurio
      description: "Retorna todas as lojas ativas às quais o usuário autenticado tem acesso.\nCada loja inclui o papel (role) do usuário naquela loja.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Regras:**\n- Apenas lojas ativas (`active = true`) são retornadas\n- Apenas lojas onde o usuário está vinculado são listadas"
      parameters: []
      responses:
        200:
          description: 'Lista de lojas'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'Mais Capinhas Tijucas'
                      city: Tijucas
                      role: admin
                    -
                      id: 2
                      name: 'Mais Capinhas Itapema'
                      city: Itapema
                      role: gerente
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                        city: Tijucas
                        role: admin
                      -
                        id: 2
                        name: 'Mais Capinhas Itapema'
                        city: Itapema
                        role: gerente
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'Mais Capinhas Tijucas'
                        city:
                          type: string
                          example: Tijucas
                        role:
                          type: string
                          example: admin
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
      tags:
        - Lojas
  /api/v1/stores/all:
    get:
      summary: 'Listar todas as lojas ativas'
      operationId: listarTodasAsLojasAtivas
      description: "Retorna todas as lojas ativas do sistema (sem verificação de vínculo).\nÚtil para selects de filtro por cidade/loja.\n\n**Quem pode usar:** Qualquer usuário autenticado."
      parameters:
        -
          in: query
          name: per_page
          description: 'Itens por página (1-100, default: 100).'
          example: 100
          required: false
          schema:
            type: integer
            description: 'Itens por página (1-100, default: 100).'
            example: 100
        -
          in: query
          name: city
          description: 'Filtrar por cidade.'
          example: Tijucas
          required: false
          schema:
            type: string
            description: 'Filtrar por cidade.'
            example: Tijucas
      responses:
        200:
          description: 'Lista de lojas'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'Mais Capinhas Tijucas'
                      city: Tijucas
                    -
                      id: 2
                      name: 'Mais Capinhas Itapema'
                      city: Itapema
                  meta:
                    current_page: 1
                    per_page: 100
                    total: 3
                    last_page: 1
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                        city: Tijucas
                      -
                        id: 2
                        name: 'Mais Capinhas Itapema'
                        city: Itapema
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'Mais Capinhas Tijucas'
                        city:
                          type: string
                          example: Tijucas
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 100
                      total:
                        type: integer
                        example: 3
                      last_page:
                        type: integer
                        example: 1
      tags:
        - Lojas
  '/api/v1/stores/{id}':
    get:
      summary: 'Obter detalhes de uma loja'
      operationId: obterDetalhesDeUmaLoja
      description: "Retorna os detalhes de uma loja específica, se o usuário tiver acesso.\n\n**Quem pode usar:** Usuários com vínculo na loja.\n\n**Erros possíveis:**\n- `403` - Usuário não tem acesso a esta loja\n- `404` - Loja não encontrada"
      parameters: []
      responses:
        200:
          description: 'Loja encontrada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    name: 'Mais Capinhas Tijucas'
                    city: Tijucas
                    active: true
                    role: admin
                    created_at: '2026-01-01T00:00:00+00:00'
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'Mais Capinhas Tijucas'
                      city:
                        type: string
                        example: Tijucas
                      active:
                        type: boolean
                        example: true
                      role:
                        type: string
                        example: admin
                      created_at:
                        type: string
                        example: '2026-01-01T00:00:00+00:00'
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        403:
          description: 'Sem acesso'
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 403
                    message: 'You do not have access to this store.'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 403
                      message:
                        type: string
                        example: 'You do not have access to this store.'
      tags:
        - Lojas
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the store.'
        example: 16
        required: true
        schema:
          type: integer
      -
        in: path
        name: store
        description: 'ID da loja.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/stores/{store_id}/sellers':
    get:
      summary: 'Listar vendedores de uma loja'
      operationId: listarVendedoresDeUmaLoja
      description: "Retorna todos os vendedores ativos vinculados a uma loja,\ncom estatísticas do mês atual.\n\n**Quem pode usar:** Gerentes e Admins da loja."
      parameters:
        -
          in: query
          name: month
          description: 'Mês para estatísticas (YYYY-MM).'
          example: 2026-01
          required: false
          schema:
            type: string
            description: 'Mês para estatísticas (YYYY-MM).'
            example: 2026-01
      responses:
        200:
          description: 'Lista de vendedores'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 5
                      name: 'João Silva'
                      avatar_url: 'https://...'
                      role: vendedor
                      total_sold_mtd: 45000.0
                      goal: 50000.0
                      achievement_rate: 90.0
                      ranking_position: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 5
                        name: 'João Silva'
                        avatar_url: 'https://...'
                        role: vendedor
                        total_sold_mtd: 45000
                        goal: 50000
                        achievement_rate: 90
                        ranking_position: 2
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 5
                        name:
                          type: string
                          example: 'João Silva'
                        avatar_url:
                          type: string
                          example: 'https://...'
                        role:
                          type: string
                          example: vendedor
                        total_sold_mtd:
                          type: number
                          example: 45000.0
                        goal:
                          type: number
                          example: 50000.0
                        achievement_rate:
                          type: number
                          example: 90.0
                        ranking_position:
                          type: integer
                          example: 2
      tags:
        - Lojas
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                month:
                  type: string
                  description: 'Must match the regex /^\d{4}-\d{2}$/.'
                  example: 6425-59
    parameters:
      -
        in: path
        name: store_id
        description: 'The ID of the store.'
        example: 16
        required: true
        schema:
          type: integer
      -
        in: path
        name: store
        description: 'ID da loja.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/stores/{store_id}/users':
    get:
      summary: 'Listar todos os usuários de uma loja'
      operationId: listarTodosOsUsuriosDeUmaLoja
      description: "Retorna todos os usuários vinculados a uma loja específica.\n\n**Quem pode usar:** Qualquer usuário autenticado."
      parameters: []
      responses:
        200:
          description: 'Lista de usuários'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      user_id: 2
                      user_name: 'Carlos Gerente'
                      user_email: carlos.gerente@maiscapinhas.com.br
                      role: gerente
                      active: true
                properties:
                  data:
                    type: array
                    example:
                      -
                        user_id: 2
                        user_name: 'Carlos Gerente'
                        user_email: carlos.gerente@maiscapinhas.com.br
                        role: gerente
                        active: true
                    items:
                      type: object
                      properties:
                        user_id:
                          type: integer
                          example: 2
                        user_name:
                          type: string
                          example: 'Carlos Gerente'
                        user_email:
                          type: string
                          example: carlos.gerente@maiscapinhas.com.br
                        role:
                          type: string
                          example: gerente
                        active:
                          type: boolean
                          example: true
      tags:
        - Lojas
    parameters:
      -
        in: path
        name: store_id
        description: 'The ID of the store.'
        example: 16
        required: true
        schema:
          type: integer
      -
        in: path
        name: store
        description: 'ID da loja.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/dashboard/vendedor:
    get:
      summary: 'Dashboard do Vendedor'
      operationId: dashboardDoVendedor
      description: "Retorna métricas completas para o vendedor, incluindo:\n- Vendas pessoais do dia\n- **Gamificação de Bônus** - quanto falta para o próximo nível\n- **Projeção de Comissão** - tier atual e potencial\n- **Pace Diário** - ritmo comparado à média\n\nEste dashboard é projetado para **motivar** o vendedor mostrando\nmetas tangíveis e progresso em tempo real.\n\n**Quem pode usar:** Vendedores e níveis superiores.\n\n**Métricas retornadas:**\n| Métrica | Descrição |\n|---------|-----------|\n| `my_sales` | Quantidade e valor total das vendas do dia |\n| `store_sales` | Total de vendas da loja (para comparação) |\n| `bonus_gamification` | Gap para próximo bônus, bônus atual |\n| `monthly_commission` | Tier atual, projeção, potencial |\n| `daily_pace` | Ritmo vs média diária |\n| `my_shifts` | Turnos do dia com status |"
      parameters:
        -
          in: query
          name: store_id
          description: 'ID da loja.'
          example: 1
          required: true
          schema:
            type: integer
            description: 'ID da loja.'
            example: 1
        -
          in: query
          name: date
          description: 'Data (YYYY-MM-DD), default: hoje.'
          example: '2026-01-07'
          required: false
          schema:
            type: string
            description: 'Data (YYYY-MM-DD), default: hoje.'
            example: '2026-01-07'
      responses:
        200:
          description: 'Dashboard completo'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2026-01-07'
                    my_sales:
                      count: 5
                      total: 450.0
                    store_sales:
                      count: 23
                      total: 3200.0
                    bonus_gamification:
                      current_amount: 450.0
                      next_bonus_goal: 500.0
                      gap_to_bonus: 50.0
                      next_bonus_value: 10.0
                      current_bonus_earned: 0
                      message: 'Faltam R$ 50,00 para ganhar R$ 10,00 de bônus!'
                    monthly_commission:
                      sales_mtd: 8500.0
                      goal_amount: 15000.0
                      achievement_rate: 56.67
                      current_tier: 2.0
                      current_commission_value: 170.0
                      next_tier: 3.0
                      potential_commission: 450.0
                    daily_pace:
                      today_sales: 450.0
                      average_daily_sales: 566.67
                      today_vs_average: -116.67
                      status: BEHIND
                    my_shifts: []
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2026-01-07'
                      my_sales:
                        type: object
                        properties:
                          count:
                            type: integer
                            example: 5
                          total:
                            type: number
                            example: 450.0
                      store_sales:
                        type: object
                        properties:
                          count:
                            type: integer
                            example: 23
                          total:
                            type: number
                            example: 3200.0
                      bonus_gamification:
                        type: object
                        properties:
                          current_amount:
                            type: number
                            example: 450.0
                          next_bonus_goal:
                            type: number
                            example: 500.0
                          gap_to_bonus:
                            type: number
                            example: 50.0
                          next_bonus_value:
                            type: number
                            example: 10.0
                          current_bonus_earned:
                            type: integer
                            example: 0
                          message:
                            type: string
                            example: 'Faltam R$ 50,00 para ganhar R$ 10,00 de bônus!'
                      monthly_commission:
                        type: object
                        properties:
                          sales_mtd:
                            type: number
                            example: 8500.0
                          goal_amount:
                            type: number
                            example: 15000.0
                          achievement_rate:
                            type: number
                            example: 56.67
                          current_tier:
                            type: number
                            example: 2.0
                          current_commission_value:
                            type: number
                            example: 170.0
                          next_tier:
                            type: number
                            example: 3.0
                          potential_commission:
                            type: number
                            example: 450.0
                      daily_pace:
                        type: object
                        properties:
                          today_sales:
                            type: number
                            example: 450.0
                          average_daily_sales:
                            type: number
                            example: 566.67
                          today_vs_average:
                            type: number
                            example: -116.67
                          status:
                            type: string
                            example: BEHIND
                      my_shifts:
                        type: array
                        example: []
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
      tags:
        - Dashboards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                store_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the stores table.'
                  example: 16
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-01-13T19:21:11'
              required:
                - store_id
  /api/v1/dashboard/conferente:
    get:
      summary: 'Dashboard do Conferente'
      operationId: dashboardDoConferente
      description: "Retorna métricas para conferência de caixa e auditoria,\nincluindo fechamentos pendentes e ranking de vendedores.\n\n**Foco:** Integridade de caixa e aprovação de fechamentos.\n\n**Quem pode usar:** Conferentes, Gerentes e Admins.\n\n**Métricas retornadas:**\n| Métrica | Descrição |\n|---------|-----------|\n| `pending_closings` | Fechamentos aguardando aprovação |\n| `pending_count` | Quantidade de pendentes |\n| `store_sales` | Total de vendas da loja no dia |\n| `shifts_today` | Resumo por status (open/closed/pending) |\n| `top_sellers` | Top 5 vendedores do dia |"
      parameters:
        -
          in: query
          name: store_id
          description: 'ID da loja.'
          example: 1
          required: true
          schema:
            type: integer
            description: 'ID da loja.'
            example: 1
        -
          in: query
          name: date
          description: 'Data (YYYY-MM-DD), default: hoje.'
          example: '2026-01-07'
          required: false
          schema:
            type: string
            description: 'Data (YYYY-MM-DD), default: hoje.'
            example: '2026-01-07'
      responses:
        200:
          description: 'Dashboard do conferente'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    date: '2026-01-07'
                    pending_closings: []
                    pending_count: 0
                    store_sales:
                      count: 23
                      total: 3200.0
                    shifts_today:
                      open: 2
                      closed: 4
                    top_sellers:
                      -
                        seller_id: 6
                        name: 'João Vendedor'
                        total: 1500.0
                properties:
                  data:
                    type: object
                    properties:
                      date:
                        type: string
                        example: '2026-01-07'
                      pending_closings:
                        type: array
                        example: []
                      pending_count:
                        type: integer
                        example: 0
                      store_sales:
                        type: object
                        properties:
                          count:
                            type: integer
                            example: 23
                          total:
                            type: number
                            example: 3200.0
                      shifts_today:
                        type: object
                        properties:
                          open:
                            type: integer
                            example: 2
                          closed:
                            type: integer
                            example: 4
                      top_sellers:
                        type: array
                        example:
                          -
                            seller_id: 6
                            name: 'João Vendedor'
                            total: 1500
                        items:
                          type: object
                          properties:
                            seller_id:
                              type: integer
                              example: 6
                            name:
                              type: string
                              example: 'João Vendedor'
                            total:
                              type: number
                              example: 1500.0
      tags:
        - Dashboards
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                store_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the stores table.'
                  example: 16
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-01-13T19:21:11'
              required:
                - store_id
  /api/v1/dashboard/admin:
    get:
      summary: 'Dashboard do Admin'
      operationId: dashboardDoAdmin
      description: "Retorna visão consolidada de todas as lojas administradas,\ncom métricas mensais agregadas.\n\n**Foco:** Visão estratégica e gerencial do negócio.\n\n**Quem pode usar:** Admins e Gerentes.\n\n**Métricas retornadas:**\n| Métrica | Descrição |\n|---------|-----------|\n| `total_sales` | Soma de vendas de todas as lojas no mês |\n| `sales_by_store` | Vendas detalhadas por loja |\n| `closings_summary` | Contagem de fechamentos por status |\n| `top_sellers` | Top 10 vendedores do mês |"
      parameters:
        -
          in: query
          name: month
          description: 'Mês (YYYY-MM), default: mês atual.'
          example: 2026-01
          required: false
          schema:
            type: string
            description: 'Mês (YYYY-MM), default: mês atual.'
            example: 2026-01
      responses:
        200:
          description: 'Dashboard consolidado'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    month: 2026-01
                    total_sales:
                      count: 450
                      total: 67500.0
                    sales_by_store:
                      -
                        store_id: 1
                        store_name: 'Mais Capinhas Tijucas'
                        count: 180
                        total: 28000.0
                    closings_summary:
                      approved: 40
                      submitted: 5
                      draft: 3
                    top_sellers:
                      -
                        seller_id: 6
                        name: 'João Vendedor'
                        total: 12500.0
                        count: 85
                properties:
                  data:
                    type: object
                    properties:
                      month:
                        type: string
                        example: 2026-01
                      total_sales:
                        type: object
                        properties:
                          count:
                            type: integer
                            example: 450
                          total:
                            type: number
                            example: 67500.0
                      sales_by_store:
                        type: array
                        example:
                          -
                            store_id: 1
                            store_name: 'Mais Capinhas Tijucas'
                            count: 180
                            total: 28000
                        items:
                          type: object
                          properties:
                            store_id:
                              type: integer
                              example: 1
                            store_name:
                              type: string
                              example: 'Mais Capinhas Tijucas'
                            count:
                              type: integer
                              example: 180
                            total:
                              type: number
                              example: 28000.0
                      closings_summary:
                        type: object
                        properties:
                          approved:
                            type: integer
                            example: 40
                          submitted:
                            type: integer
                            example: 5
                          draft:
                            type: integer
                            example: 3
                      top_sellers:
                        type: array
                        example:
                          -
                            seller_id: 6
                            name: 'João Vendedor'
                            total: 12500
                            count: 85
                        items:
                          type: object
                          properties:
                            seller_id:
                              type: integer
                              example: 6
                            name:
                              type: string
                              example: 'João Vendedor'
                            total:
                              type: number
                              example: 12500.0
                            count:
                              type: integer
                              example: 85
      tags:
        - Dashboards
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                month:
                  type: string
                  description: 'Must match the regex /^\d{4}-\d{2}$/.'
                  example: 6425-59
  /api/v1/sales:
    get:
      summary: 'Listar vendas'
      operationId: listarVendas
      description: "Retorna a lista paginada de vendas das lojas às quais o\nusuário tem acesso, com diversos filtros disponíveis.\n\n**Visibilidade:**\n- Vendedor: vê vendas de todas as lojas onde trabalha\n- Gerente: vê todas as vendas das lojas que gerencia\n- Admin: vê todas as vendas do sistema\n\n**Filtros disponíveis:**\n- `store_id` - Filtrar por loja específica\n- `seller_id` - Filtrar por vendedor\n- `from`/`to` - Período de datas\n\n**Ordenação:** Por data de venda, mais recentes primeiro.\n\n**Quem pode usar:** Qualquer usuário autenticado (vê apenas suas lojas)."
      parameters:
        -
          in: query
          name: store_id
          description: 'Filtrar por loja (deve ter acesso).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'Filtrar por loja (deve ter acesso).'
            example: 1
        -
          in: query
          name: seller_id
          description: 'Filtrar por vendedor específico.'
          example: 6
          required: false
          schema:
            type: integer
            description: 'Filtrar por vendedor específico.'
            example: 6
        -
          in: query
          name: from
          description: 'Data inicial (YYYY-MM-DD).'
          example: '2026-01-01'
          required: false
          schema:
            type: string
            description: 'Data inicial (YYYY-MM-DD).'
            example: '2026-01-01'
        -
          in: query
          name: to
          description: 'Data final (YYYY-MM-DD).'
          example: '2026-01-31'
          required: false
          schema:
            type: string
            description: 'Data final (YYYY-MM-DD).'
            example: '2026-01-31'
        -
          in: query
          name: per_page
          description: 'Itens por página (1-100, default: 25).'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Itens por página (1-100, default: 25).'
            example: 25
      responses:
        200:
          description: 'Lista de vendas'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      store_id: 1
                      seller_id: 6
                      sold_at: '2026-01-07T10:30:00Z'
                      amount: 150.0
                      source: pdv
                      store:
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                      seller:
                        id: 6
                        name: 'João Vendedor'
                  meta:
                    current_page: 1
                    per_page: 25
                    total: 150
                    last_page: 6
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        store_id: 1
                        seller_id: 6
                        sold_at: '2026-01-07T10:30:00Z'
                        amount: 150
                        source: pdv
                        store:
                          id: 1
                          name: 'Mais Capinhas Tijucas'
                        seller:
                          id: 6
                          name: 'João Vendedor'
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        store_id:
                          type: integer
                          example: 1
                        seller_id:
                          type: integer
                          example: 6
                        sold_at:
                          type: string
                          example: '2026-01-07T10:30:00Z'
                        amount:
                          type: number
                          example: 150.0
                        source:
                          type: string
                          example: pdv
                        store:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Mais Capinhas Tijucas'
                        seller:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 6
                            name:
                              type: string
                              example: 'João Vendedor'
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 25
                      total:
                        type: integer
                        example: 150
                      last_page:
                        type: integer
                        example: 6
        403:
          description: 'Loja sem acesso'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'You do not have access to this store.'
                properties:
                  message:
                    type: string
                    example: 'You do not have access to this store.'
      tags:
        - Vendas
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                store_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the stores table.'
                  example: 16
                seller_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the users table.'
                  example: 16
                from:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-01-13T19:21:10'
                to:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-01-13T19:21:10'
                per_page:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 22
    post:
      summary: 'Criar venda manual'
      operationId: criarVendaManual
      description: "Registra uma nova venda no sistema de forma manual.\n\n**Quando usar:**\n- Vendas feitas fora do PDV (dinheiro em espécie direto)\n- Correções de vendas não registradas\n- Vendas de quiosques sem sistema\n\n**Efeitos automáticos:**\nApós criar a venda, o sistema automaticamente dispara:\n1. `RecalculateSellerDailyBonusJob` - recalcula bônus do dia\n2. `RecalculateSellerMonthlyCommissionJob` - recalcula comissão do mês\n\n**Regras de Negócio:**\n- `store_id` deve ser uma loja onde o usuário tem acesso\n- `seller_id` default é o usuário logado\n- `source` default é \"manual\"\n- `amount` deve ser positivo\n\n**Quem pode usar:**\n- Vendedores (podem registrar próprias vendas)\n- Gerentes/Admins (podem registrar para qualquer vendedor)"
      parameters: []
      responses:
        201:
          description: 'Venda criada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 501
                    store_id: 1
                    seller_id: 6
                    sold_at: '2026-01-07T15:30:00Z'
                    amount: 175.5
                    source: manual
                    store:
                      id: 1
                      name: 'Mais Capinhas Tijucas'
                    seller:
                      id: 6
                      name: 'João Vendedor'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 501
                      store_id:
                        type: integer
                        example: 1
                      seller_id:
                        type: integer
                        example: 6
                      sold_at:
                        type: string
                        example: '2026-01-07T15:30:00Z'
                      amount:
                        type: number
                        example: 175.5
                      source:
                        type: string
                        example: manual
                      store:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Mais Capinhas Tijucas'
                      seller:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 6
                          name:
                            type: string
                            example: 'João Vendedor'
        403:
          description: 'Sem acesso à loja'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Você não tem acesso a esta loja.'
                properties:
                  message:
                    type: string
                    example: 'Você não tem acesso a esta loja.'
      tags:
        - Vendas
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                store_id:
                  type: integer
                  description: 'Loja onde a venda foi realizada.'
                  example: 1
                seller_id:
                  type: integer
                  description: 'Vendedor que realizou (default: você).'
                  example: 6
                sold_at:
                  type: string
                  description: 'Data/hora da venda (ISO 8601).'
                  example: '2026-01-07T15:30:00'
                amount:
                  type: number
                  description: 'Valor total da venda.'
                  example: 175.5
                source:
                  type: string
                  description: 'Origem: pdv, manual, import (default: manual).'
                  example: manual
              required:
                - store_id
                - sold_at
                - amount
  '/api/v1/sales/{id}':
    get:
      summary: 'Ver detalhes da venda'
      operationId: verDetalhesDaVenda
      description: "Retorna informações completas de uma venda específica.\n\n**Dados retornados:**\n- Informações básicas: `id`, `store_id`, `seller_id`, `sold_at`, `amount`, `source`\n- Loja: `store.id`, `store.name`\n- Vendedor: `seller.id`, `seller.name`\n- Timestamps: `created_at`, `updated_at`\n\n**Quem pode usar:** Usuários com acesso à loja da venda."
      parameters: []
      responses:
        200:
          description: 'Detalhes da venda'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    store_id: 1
                    seller_id: 6
                    sold_at: '2026-01-07T10:30:00Z'
                    amount: 150.0
                    source: pdv
                    created_at: '2026-01-07T10:31:00Z'
                    store:
                      id: 1
                      name: 'Mais Capinhas Tijucas'
                    seller:
                      id: 6
                      name: 'João Vendedor'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      store_id:
                        type: integer
                        example: 1
                      seller_id:
                        type: integer
                        example: 6
                      sold_at:
                        type: string
                        example: '2026-01-07T10:30:00Z'
                      amount:
                        type: number
                        example: 150.0
                      source:
                        type: string
                        example: pdv
                      created_at:
                        type: string
                        example: '2026-01-07T10:31:00Z'
                      store:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Mais Capinhas Tijucas'
                      seller:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 6
                          name:
                            type: string
                            example: 'João Vendedor'
      tags:
        - Vendas
    put:
      summary: 'Atualizar venda'
      operationId: atualizarVenda
      description: "Edita dados de uma venda existente.\n\n**Importante:**\nAlterações disparam recálculo automático de bônus e comissão\npara o vendedor afetado.\n\n**Casos de uso:**\n- Corrigir valor digitado errado\n- Ajustar data de venda\n- Corrigir fonte da venda\n\n**Regras de Negócio:**\n- Não é possível alterar `store_id` ou `seller_id` após criação\n- Apenas gerentes e admins podem editar vendas\n- Histórico de alterações é registrado para auditoria\n\n**Quem pode usar:** Gerentes e Admins da loja."
      parameters: []
      responses:
        200:
          description: 'Venda atualizada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    amount: 180.0
                    sold_at: '2026-01-07T16:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      amount:
                        type: number
                        example: 180.0
                      sold_at:
                        type: string
                        example: '2026-01-07T16:00:00Z'
        403:
          description: 'Sem permissão'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Apenas gerentes e admins podem editar vendas.'
                properties:
                  message:
                    type: string
                    example: 'Apenas gerentes e admins podem editar vendas.'
      tags:
        - Vendas
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                sold_at:
                  type: string
                  description: 'Nova data/hora.'
                  example: '2026-01-07T16:00:00'
                amount:
                  type: number
                  description: 'Novo valor.'
                  example: 180.0
                source:
                  type: string
                  description: 'Nova origem: pdv, manual, import.'
                  example: pdv
    delete:
      summary: 'Excluir venda'
      operationId: excluirVenda
      description: "Remove permanentemente uma venda do sistema.\n\n**Atenção:**\n- Esta ação é **irreversível**\n- O bônus/comissão do vendedor será recalculado automaticamente\n- Recomendado documentar o motivo da exclusão\n\n**Casos de uso:**\n- Venda cadastrada em duplicidade\n- Venda cancelada pelo cliente\n- Teste registrado acidentalmente em produção\n\n**Regras de Negócio:**\n- Apenas administradores podem excluir vendas\n- A exclusão é registrada no log de auditoria\n\n**Quem pode usar:** Apenas Admins."
      parameters: []
      responses:
        200:
          description: 'Venda excluída'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Venda excluída com sucesso.'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Venda excluída com sucesso.'
        403:
          description: 'Sem permissão'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Apenas admins podem excluir vendas.'
                properties:
                  message:
                    type: string
                    example: 'Apenas admins podem excluir vendas.'
      tags:
        - Vendas
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the sale.'
        example: 16
        required: true
        schema:
          type: integer
      -
        in: path
        name: sale
        description: 'ID da venda.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/cash/shifts:
    get:
      summary: 'Listar turnos de caixa'
      operationId: listarTurnosDeCaixa
      description: "Retorna os turnos de caixa das lojas às quais o usuário tem acesso,\ncom filtros por loja, data e status.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Filtros disponíveis:**\n- `store_id` - Filtrar por loja específica\n- `date` - Filtrar por data específica (YYYY-MM-DD)\n- `status` - Filtrar por status (open, closed, pending)\n\n**Códigos de turno:**\n- `1` ou `M` - Manhã\n- `2` ou `T` - Tarde\n- `3` ou `N` - Noite"
      parameters:
        -
          in: query
          name: store_id
          description: 'ID da loja para filtrar.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'ID da loja para filtrar.'
            example: 1
        -
          in: query
          name: date
          description: 'Data específica (YYYY-MM-DD).'
          example: '2026-01-07'
          required: false
          schema:
            type: string
            description: 'Data específica (YYYY-MM-DD).'
            example: '2026-01-07'
        -
          in: query
          name: status
          description: 'Status do turno.'
          example: open
          required: false
          schema:
            type: string
            description: 'Status do turno.'
            example: open
        -
          in: query
          name: per_page
          description: 'Itens por página (1-100).'
          example: 25
          required: false
          schema:
            type: integer
            description: 'Itens por página (1-100).'
            example: 25
      responses:
        200:
          description: 'Lista de turnos'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      store_id: 1
                      date: '2026-01-07'
                      shift_code: M
                      seller_id: 6
                      status: open
                      store:
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                      seller:
                        id: 6
                        name: 'João Vendedor'
                      cash_closing: null
                  meta:
                    current_page: 1
                    per_page: 25
                    total: 84
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        store_id: 1
                        date: '2026-01-07'
                        shift_code: M
                        seller_id: 6
                        status: open
                        store:
                          id: 1
                          name: 'Mais Capinhas Tijucas'
                        seller:
                          id: 6
                          name: 'João Vendedor'
                        cash_closing: null
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        store_id:
                          type: integer
                          example: 1
                        date:
                          type: string
                          example: '2026-01-07'
                        shift_code:
                          type: string
                          example: M
                        seller_id:
                          type: integer
                          example: 6
                        status:
                          type: string
                          example: open
                        store:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Mais Capinhas Tijucas'
                        seller:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 6
                            name:
                              type: string
                              example: 'João Vendedor'
                        cash_closing:
                          type: string
                          example: null
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 25
                      total:
                        type: integer
                        example: 84
      tags:
        - 'Turnos de Caixa'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                store_id:
                  type: integer
                  description: 'The <code>id</code> of an existing record in the stores table.'
                  example: 16
                date:
                  type: string
                  description: 'Must be a valid date.'
                  example: '2026-01-13T19:21:10'
                status:
                  type: string
                  description: ''
                  example: pending
                  enum:
                    - open
                    - closed
                    - pending
                per_page:
                  type: integer
                  description: 'Must be at least 1. Must not be greater than 100.'
                  example: 22
    post:
      summary: 'Criar novo turno de caixa'
      operationId: criarNovoTurnoDeCaixa
      description: "Cria um novo turno de caixa para uma loja/data/período.\n\n**Quem pode usar:** Usuários com acesso à loja.\n\n**Regras de negócio:**\n- Não pode haver dois turnos com mesma loja + data + turno + vendedor\n- O turno inicia com status `open`\n- Se `seller_id` não for informado, assume o usuário atual\n\n**Códigos de turno:**\n- `1` ou `M` - Manhã (08h-14h)\n- `2` ou `T` - Tarde (14h-20h)\n- `3` ou `N` - Noite (20h-00h)"
      parameters: []
      responses:
        201:
          description: 'Turno criado'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    store_id: 1
                    date: '2026-01-07'
                    shift_code: M
                    seller_id: 6
                    status: open
                    store:
                      id: 1
                      name: 'Mais Capinhas Tijucas'
                    seller:
                      id: 6
                      name: 'João Vendedor'
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      store_id:
                        type: integer
                        example: 1
                      date:
                        type: string
                        example: '2026-01-07'
                      shift_code:
                        type: string
                        example: M
                      seller_id:
                        type: integer
                        example: 6
                      status:
                        type: string
                        example: open
                      store:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Mais Capinhas Tijucas'
                      seller:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 6
[...]
