openapi: 3.0.3
info:
  title: 'MaisCapinhas ERP API - Documentação'
  description: 'API REST para gestão de vendas, metas, fechamento de caixa, bônus e comissões do ERP MaisCapinhas.'
  version: 1.0.0
servers:
  -
    url: 'https://api.maiscapinhas.com.br'
tags:
  -
    name: 'Saúde & Versão'
    description: "\nEndpoints para verificação de saúde e status da API.\nEstes endpoints são públicos e não requerem autenticação."
  -
    name: Autenticação
    description: "\nEndpoints para autenticação via Bearer Token (Sanctum).\nA API suporta dois modos de autenticação:\n\n1. **Bearer Token** (recomendado para desenvolvimento e integrações)\n2. **Cookie SPA** (para frontends React/Vue com `withCredentials`)\n\n**Auditoria:** Todas as ações de autenticação (login, logout) são\nregistradas no log de auditoria com IP e user-agent."
  -
    name: 'Perfil do Usuário'
    description: "\nEndpoints para obter e atualizar informações do usuário autenticado."
  -
    name: Lojas
    description: "\nEndpoints para consultar lojas às quais o usuário tem acesso.\nO usuário só pode visualizar lojas onde está vinculado via `store_users`."
  -
    name: 'PDV - Sync'
    description: "\nEndpoint de ingestao do webhook PDV Sync Agent v3.\n\nContrato:\n- `schema_version` suportado: `3.0` e `3.1`\n- idempotencia por `integrity.sync_id`\n- payload validado por regras Laravel + JSON Schema\n- enfileiramento assincorno para processamento (`ProcessPdvSyncJob`)\n\nSeguranca:\n- Middleware custom `pdv.signature`\n- Pode operar em modo HMAC, Bearer, Auto ou None (controlado por `config('pdv.*')`)"
  -
    name: 'PDV - Relatorios'
    description: "\nEndpoints de consulta e analytics do PDV Sync v3.\n\nEscopo:\n- Vendas por periodo, vendedor, canal, turno e meio de pagamento\n- Turnos com totais de sistema/declarado/falta\n- Rankings de vendedores e vendedor x loja\n\nAutorizacao:\n- Requer `auth:sanctum`\n- Usuario comum: apenas lojas vinculadas em `store_users`\n- Super admin: visao global"
  -
    name: 'PDV - Admin'
    description: "\nEndpoints administrativos para observabilidade do pipeline PDV Sync.\n\nInclui:\n- consulta de syncs recebidos (`/admin/pdv/syncs`)\n- metricas operacionais consolidadas (`/admin/pdv/syncs/metrics`)\n\nAcesso:\n- super admin, ou\n- usuario com role `admin` em alguma loja"
  -
    name: Dashboards
    description: "\nEndpoints de dashboard com métricas e KPIs personalizados por perfil de usuário.\n\nCada dashboard retorna informações otimizadas para o papel do usuário:\n- **Vendedor**: Foco em gamificação, bônus e comissão pessoal\n- **Conferente**: Foco em fechamentos pendentes e integridade de caixa\n- **Admin/Gerente**: Visão consolidada de todas as lojas\n\n**Regras de Acesso:**\n- Usuário só vê dados das lojas às quais tem acesso\n- Dashboard específico depende da role do usuário na loja"
  -
    name: Vendas
    description: "\nGerenciamento de vendas registradas no sistema MaisCapinhas ERP.\n\nAs vendas são o **coração do sistema financeiro**, pois a partir delas\nsão calculados:\n- **Bônus diário** - baseado no total de vendas do dia\n- **Comissão mensal** - baseado no atingimento de meta\n- **KPIs de desempenho** - taxa de conversão, ticket médio\n\n**Fontes de Vendas:**\n| Origem | Descrição |\n|--------|-----------|\n| `pdv` | Importação automática do sistema de PDV |\n| `manual` | Cadastro manual via esta API |\n| `import` | Importação em lote (planilha CSV) |\n\n**Regras de Negócio Importantes:**\n- Cada venda pertence a uma **loja** (`store_id`) e um **vendedor** (`seller_id`)\n- A venda conta para a meta da **loja** onde foi realizada\n- A comissão vai para o **vendedor**, mesmo que seja \"volante\"\n- Alterações em vendas disparam recálculo automático de bônus/comissão\n\n**Impacto no Bônus:**\nQuando uma venda é criada/alterada, o sistema automaticamente\nrecalcula o bônus diário do vendedor (via Job assíncrono)."
  -
    name: 'Turnos de Caixa'
    description: "\nEndpoints para gerenciar turnos de caixa.\nCada turno representa um período de trabalho de um vendedor em uma loja."
  -
    name: 'Fechamento de Caixa'
    description: "\nEndpoints para gerenciar o fluxo de fechamento de caixa.\n\n**Workflow de Estados:**\n```\ndraft → submitted → approved\n                  → rejected → draft → ...\n```\n\n- `draft` - Rascunho (editável)\n- `submitted` - Enviado para conferência\n- `approved` - Aprovado (imutável)\n- `rejected` - Rejeitado (volta para draft para correção)"
  -
    name: 'Regras de Bônus'
    description: "\nGerenciamento de regras de bônus diário.\nRegras definem faixas de vendas mínimas e valores de bônus correspondentes.\n\n**Hierarquia de regras:**\n- Regra específica de loja (`store_id` preenchido) tem prioridade sobre regra global\n- Regra mais recente (`effective_from` maior) tem prioridade\n- Versionamento automático a cada atualização"
  -
    name: 'Regras de Comissão'
    description: "\nGerenciamento de regras de comissão mensal.\nRegras definem faixas de atingimento de meta e taxas de comissão.\n\n**Hierarquia de regras:**\n- Regra específica de loja tem prioridade sobre global\n- Comissão calculada: vendas × taxa (baseada no % de atingimento)"
  -
    name: 'Metas Mensais'
    description: "\nGerenciamento de metas mensais por loja e distribuição entre vendedores (splits).\nCada split define a porcentagem da meta que cada vendedor deve atingir.\n\n**Regra:** A soma dos splits deve ser exatamente 100%."
  -
    name: 'Extrato Financeiro'
    description: "\nEndpoints para consultar o extrato de bônus diário e comissão mensal.\nVendedores veem apenas seus próprios dados; gerentes/admins veem todos."
  -
    name: 'People Analytics'
    description: "\nEndpoints para consultar e inserir KPIs de fluxo de pessoas por turno.\nDados podem vir de sincronização com FastAPI ou inserção manual."
  -
    name: 'Admin - Graph Visualization'
    description: ''
  -
    name: 'Admin - Modules'
    description: ''
  -
    name: 'Admin - Permissions'
    description: ''
  -
    name: 'Admin - Roles'
    description: ''
  -
    name: 'Admin - Store Permission Overrides'
    description: ''
  -
    name: 'Admin - User Permission Overrides'
    description: ''
  -
    name: 'Admin - User Role Assignments'
    description: ''
  -
    name: 'Administração - Logs de Auditoria'
    description: "\nConsulta de logs de auditoria do sistema.\n\nEste endpoint permite que administradores visualizem todas as\nações registradas no sistema para fins de auditoria e compliance.\n\n**Tipos de eventos registrados:**\n| Domínio | Eventos |\n|---------|---------|\n| `auth` | login, logout, login_failed |\n| `cash` | cash_closing.submit, approve, reject |\n| `rules` | bonus/commission create, update, delete |\n| `goals` | monthly.create, update, splits.set |\n| `sales` | create, update, delete |\n| `admin` | user/store create, update, delete |\n\n**Quem pode usar:** Apenas administradores."
  -
    name: 'Administração - Lojas'
    description: "\nGerenciamento das lojas (pontos de venda) do sistema MaisCapinhas ERP.\n\nCada loja representa uma unidade física de venda com:\n- Equipe própria (vendedores, conferentes, gerentes)\n- Metas mensais individuais\n- Turnos de caixa e fechamentos\n- Regras de bônus/comissão (podem ser específicas ou herdar as globais)\n\n**Hierarquia de Dados:**\n```\nLoja\n├── Usuários (via store_users com roles)\n├── Vendas (registradas por vendedores)\n├── Turnos de Caixa (por data/turno/vendedor)\n├── Metas Mensais (com splits por vendedor)\n└── Regras de Bônus/Comissão (opcionais, específicas)\n```\n\n**Regras de Negócio:**\n- Uma loja desativada não aparece na lista de lojas do usuário comum\n- Dados históricos são mantidos para auditoria\n- Lojas são identificadas por ID numérico (não há código de loja)\n\n**Auditoria:** Todas as operações são registradas via Spatie ActivityLog."
  -
    name: 'Administração - Usuários'
    description: "\nGerenciamento centralizado de usuários do sistema MaisCapinhas ERP.\n\nEste módulo permite criar, editar, listar e desativar usuários,\nalém de vincular usuários a lojas com roles específicas.\n\n**Modelo de Permissões:**\n- Cada usuário pode estar vinculado a múltiplas lojas\n- Em cada loja, o usuário tem uma role: `admin`, `gerente`, `conferente` ou `vendedor`\n- Usuários desativados perdem acesso a todos os endpoints protegidos\n\n**Regras de Negócio:**\n- Email deve ser único no sistema\n- Não é possível desativar o próprio usuário\n- Ao desativar, todos os tokens de acesso são revogados\n\n**Auditoria:** Todas as operações são registradas via Spatie ActivityLog."
  -
    name: 'Administração - Vínculos Loja-Usuário'
    description: "\nGerenciamento dos vínculos entre lojas e usuários (tabela `store_users`).\n\nEste módulo controla **qual usuário trabalha em qual loja** e com\n**qual nível de permissão (role)**.\n\n**Sistema de Roles:**\n| Role | Pode fazer |\n|------|------------|\n| `admin` | Tudo: gerenciar usuários, lojas, regras, confirmar comissões |\n| `gerente` | Gerenciar equipe da loja, aprovar fechamentos, ver dashboards |\n| `conferente` | Aprovar/rejeitar fechamentos de caixa |\n| `vendedor` | Registrar vendas, submeter fechamento do próprio turno |\n\n**Regras de Negócio:**\n- Um usuário pode ter roles diferentes em lojas diferentes\n- A role `admin` em qualquer loja dá acesso administrativo global\n- Vendedor \"volante\" pode trabalhar temporariamente em outra loja\n- Não é possível remover seu próprio vínculo (proteção)\n\n**Vínculo × Comissão:**\n- Vendas são sempre registradas na loja onde ocorreram (`store_id` da venda)\n- Comissão vai para o vendedor que realizou a venda (`seller_id`)\n- Meta é calculada pela loja + split configurado"
  -
    name: 'Administração - WhatsApp'
    description: "\nGerenciamento de instâncias WhatsApp (Evolution API).\n\nEste módulo permite criar, editar, listar e gerenciar instâncias do WhatsApp\nconectadas via Evolution API. Apenas super admins têm acesso.\n\n**Modelo de Escopos:**\n- Global: `store_id = null` e `user_id = null` (para notificações gerais)\n- Por Loja: `store_id` preenchido (instância específica da loja)\n- Por Usuário: `user_id` preenchido (instância específica do usuário)\n\n**Secrets:**\n- `api_key` e `token` são criptografados em repouso\n- Nunca são retornados nas responses (apenas masked values)"
  -
    name: Bio
    description: "\nEndpoints públicos para exibição na Bio do Instagram.\nEstes endpoints não requerem autenticação."
  -
    name: 'Capas Personalizadas'
    description: "\nGestão de capas de celular personalizadas.\nCapas são produtos criados sob demanda com fotos enviadas pelos clientes.\n\n**Fluxo de status:**\n1. Aguardando Foto (1) → Cliente envia foto\n2. Encomenda Solicitada (2) → Aguardando produção\n3. Capa Paga (3) → Pagamento registrado\n4. Pronta para entrega (4) → Produção concluída\n5. Entregue (5) → Cliente recebeu\n6. Cancelada (6)\n\n**Escopo de acesso:**\n- Super admins e admins globais: acesso a todas as capas\n- Outros usuários: apenas capas que criaram\n\n**Permissões:** Todos os usuários autenticados (exceto endpoints públicos)."
  -
    name: 'Catálogo - Marcas de Telefone'
    description: "\nGestão de marcas de telefone do catálogo.\nMarcas são usadas para categorizar modelos de telefone.\n\n**Leitura:** Todos os usuários autenticados.\n**Escrita:** Apenas administradores."
  -
    name: 'Catálogo - Modelos de Telefone'
    description: "\nGestão de modelos de telefone do catálogo.\nModelos são vinculados a marcas e usados para associar dispositivos de clientes.\n\n**Leitura:** Todos os usuários autenticados.\n**Escrita:** Apenas administradores."
  -
    name: Clientes
    description: "\nGestão de clientes e seus dispositivos (celulares).\nClientes são usados para associar pedidos e capas personalizadas.\n\n**Escopo de acesso:**\n- Super admins e admins globais: acesso a todos os clientes\n- Outros usuários: apenas clientes que criaram ou possuem pedidos/capas associadas\n\n**Permissões:** Todos os usuários autenticados."
  -
    name: Comemorações
    description: "\nEndpoints para exibir aniversariantes de nascimento e de empresa."
  -
    name: Comunicados
    description: "\nAPI para gerenciamento de comunicados."
  -
    name: 'Comunicação Interna - Avisos'
    description: "\nEndpoints para gerenciamento de avisos e comunicados internos.\nO sistema permite criar, publicar e acompanhar avisos direcionados a:\n- **Todos os usuários** (scope global)\n- **Lojas específicas** (scope store)\n- **Usuários específicos** (scope user)\n- **Cargos específicos** (scope role)\n\n**Funcionalidades:**\n- Criação e edição de avisos com suporte a imagens e call-to-action\n- Publicação imediata ou agendada\n- Controle de leitura (seen), confirmação (ack) e dispensa (dismiss)\n- Estatísticas de engajamento em tempo real\n- Duplicação e republicação de avisos arquivados\n\n**Níveis de severidade:** `info`, `warning`, `danger`\n\n**Permissões:** Apenas administradores e gerentes podem criar e gerenciar avisos."
  -
    name: 'Formas de Pagamento'
    description: "\nGestão de formas de pagamento do sistema.\nFormas de pagamento disponíveis: Dinheiro, Pix, Débito, Crédito, etc.\n\n**Leitura:** Todos os usuários autenticados.\n**Escrita:** Apenas Super Admin e Admin Global."
  -
    name: 'Fábrica - Pedidos de Produção'
    description: "\nPortal da fábrica para gestão de pedidos de produção de capas personalizadas.\nEstes endpoints são exclusivos para usuários com papel de fábrica (middleware `fabrica`).\n\n**Fluxo de produção:**\n1. Admin envia capas para produção → Pedido criado com status `pending`\n2. Fábrica aceita pedido (informa valor) → Status `accepted`\n3. Fábrica despacha pedido (informa rastreio) → Status `dispatched`\n4. Admin recebe pedido → Status `received`\n\n**Permissões:** Apenas usuários com papel de fábrica."
  -
    name: Outros
    description: ''
  -
    name: Pedidos
    description: "\nGestão de pedidos de clientes nas lojas.\nPedidos representam solicitações de clientes que podem incluir capas personalizadas ou produtos do catálogo.\n\n**Escopo de acesso:**\n- Super admins e admins globais: acesso a todos os pedidos\n- Outros usuários: apenas pedidos que criaram\n\n**Status do pedido:** 1=Novo, 2=Em produção, 3=Pronto, 4=Entregue, 5=Cancelado\n\n**Permissões:** Todos os usuários autenticados."
  -
    name: 'Produção - Administração'
    description: "\nAções administrativas do sistema de produção.\n\n**Permissões:** Apenas super administradores."
  -
    name: 'Produção - Carrinho'
    description: "\nGerenciamento do carrinho de produção para agrupar capas personalizadas antes de enviar à fábrica.\n\n**Fluxo do carrinho:**\n1. Obter/criar carrinho aberto (um por usuário por vez)\n2. Validar capas antes de adicionar (dry-run opcional)\n3. Adicionar capas ao carrinho\n4. Fechar carrinho → cria pedido de produção\n\n**Regras de negócio:**\n- Cada usuário pode ter apenas um carrinho aberto por vez\n- Capas devem estar com status \"Encomenda Solicitada\" para serem adicionadas\n- Capas já em outro carrinho/pedido são bloqueadas\n\n**Permissões:** Administradores e gerentes."
  -
    name: 'Produção - Pedidos (Admin)'
    description: "\nGestão de pedidos de produção pelo administrador.\nEstes endpoints são utilizados após o fechamento do carrinho de produção.\n\n**Fluxo do pedido:**\n1. Pedido criado ao fechar carrinho → Status `pending`\n2. Fábrica aceita → Status `accepted`\n3. Fábrica despacha → Status `dispatched`\n4. Admin recebe → Status `received` (este controller)\n5. Ou Admin cancela → Status `cancelled`\n\n**Permissões:** Administradores e gerentes."
  -
    name: 'Relatórios - Ranking'
    description: "\nEndpoints para ranking de vendedores e consultas relacionadas."
  -
    name: 'Relatórios Gerenciais'
    description: "\nEndpoints de relatórios avançados para gestão e auditoria.\n\nEste módulo fornece KPIs estratégicos para tomada de decisão:\n- **Performance de Loja** - Atingimento de meta, crescimento YoY, projeções\n- **Integridade de Caixa** - % de quebra, divergências, alertas\n\n**Público-alvo:**\n- Gerentes e Admins para visão estratégica\n- Conferentes para auditoria de caixa\n- Sócios para acompanhamento financeiro\n\n**Cache:** Dados históricos (ano passado) são cacheados para performance."
  -
    name: 'Upload de Arquivos'
    description: "\nEndpoints para upload de imagens de avatar e fotos."
  -
    name: 'WhatsApp - Mensagens'
    description: "\nEndpoints para envio de mensagens e verificação de números via WhatsApp.\n\nEstes endpoints permitem que o sistema envie mensagens através\ndas instâncias WhatsApp configuradas.\n\n**Autorização:**\n- Super admin: acesso total a qualquer instância\n- Usuários: acesso a instâncias do seu escopo (user/store/global)\n\n**Resolução de Instância:**\nSe não informar instance_id, o sistema resolve automaticamente:\n1. Instância do usuário (se existir)\n2. Instância da loja (se usuário tiver vínculo)\n3. Instância global favorita"
  -
    name: 'Wheel - Analytics'
    description: "\nAPI para analytics e dashboard do módulo Roleta."
  -
    name: 'Wheel - Campaigns'
    description: "\nAPI para gerenciamento de Campanhas do módulo Roleta."
  -
    name: 'Wheel - Events/Logs'
    description: "\nAPI para visualização de logs de eventos do módulo Roleta."
  -
    name: 'Wheel - Inventory'
    description: "\nAPI para gerenciamento de Inventário/Estoque de prêmios do módulo Roleta."
  -
    name: 'Wheel - Players (Admin)'
    description: "\nAPI para gerenciamento de Jogadores do módulo Roleta."
  -
    name: 'Wheel - Prize Rules (Admin)'
    description: "\nAPI para gerenciamento de Regras de Prêmios."
  -
    name: 'Wheel - Prizes'
    description: "\nAPI para gerenciamento de Prêmios do módulo Roleta."
  -
    name: 'Wheel - Screens (TVs)'
    description: "\nAPI para gerenciamento de TVs/Totens do módulo Roleta."
  -
    name: 'Wheel - Segments'
    description: "\nAPI para gerenciamento de Segmentos (fatias da roleta) do módulo Roleta."
components:
  securitySchemes:
    default:
      type: http
      scheme: bearer
      description: "    Para obter um token, faça login em `POST /api/v1/auth/login` com email e senha.\n\n    **Usuários de teste:**\n    - `admin@maiscapinhas.com.br` / `password` (Admin - todas as lojas)\n    - `joao.vendedor@maiscapinhas.com.br` / `password` (Vendedor - Tijucas)\n\n    O token deve ser enviado no header `Authorization: Bearer {token}`.\n\n    **Modo SPA (Cookie):** Para aplicações frontend, use `withCredentials: true` após obter o CSRF token em `/sanctum/csrf-cookie`."
security:
  -
    default: []
paths:
  /api/v1/health:
    get:
      summary: 'Verificar saúde da API'
      operationId: verificarSadeDaAPI
      description: "Retorna o status de saúde da API. Use este endpoint para\nverificar se a API está online e respondendo corretamente.\n\n**Casos de uso:**\n- Monitoramento de uptime (Uptime Robot, Pingdom, etc.)\n- Health checks em load balancers\n- Verificação de conectividade antes de operações\n\n**Resposta:**\n- `status: \"ok\"` - API funcionando normalmente\n- `timestamp` - Data/hora ISO 8601 da requisição"
      parameters: []
      responses:
        200:
          description: 'API saudável'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: ok
                    timestamp: '2026-01-07T12:00:00+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: ok
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00+00:00'
      tags:
        - 'Saúde & Versão'
      security: []
  /api/v1/version:
    get:
      summary: 'Obter versão da API'
      operationId: obterVersoDaAPI
      description: "Retorna informações sobre a versão atual da API, incluindo\nversões do PHP e Laravel utilizadas.\n\n**Casos de uso:**\n- Verificar compatibilidade de versão antes de integrações\n- Debug e troubleshooting\n- Documentação técnica\n\n**Resposta:**\n- `name` - Nome da API\n- `api` - Versão da API (v1, v2, etc.)\n- `php` - Versão do PHP\n- `laravel` - Versão do Laravel"
      parameters: []
      responses:
        200:
          description: 'Versão atual'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    name: 'MaisCapinhas ERP API'
                    api: v1
                    php: 8.3.16
                    laravel: 12.45.2
                properties:
                  data:
                    type: object
                    properties:
                      name:
                        type: string
                        example: 'MaisCapinhas ERP API'
                      api:
                        type: string
                        example: v1
                      php:
                        type: string
                        example: 8.3.16
                      laravel:
                        type: string
                        example: 12.45.2
      tags:
        - 'Saúde & Versão'
      security: []
  /api/v1/auth/login:
    post:
      summary: 'Fazer login e obter token'
      operationId: fazerLoginEObterToken
      description: "Autentica o usuário e retorna um Bearer Token para uso nas próximas requisições.\n\n**Quem pode usar:** Qualquer usuário ativo com email e senha válidos.\n\n**Regras de negócio:**\n- Usuários inativos (`active = false`) não podem fazer login\n- O token não expira automaticamente, mas pode ser revogado via logout\n- Cada login gera um novo token (múltiplos dispositivos são permitidos)\n- Todas as tentativas de login são registradas para auditoria\n\n**Erros possíveis:**\n- `422` - Credenciais inválidas ou conta desativada"
      parameters: []
      responses:
        200:
          description: 'Login bem-sucedido'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    token: 1|abc123xyz...
                    token_type: Bearer
                    user:
                      id: 1
                      name: 'Admin Sistema'
                      email: admin@maiscapinhas.com.br
                  meta:
                    request_id: abc-123
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        example: 1|abc123xyz...
                      token_type:
                        type: string
                        example: Bearer
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Admin Sistema'
                          email:
                            type: string
                            example: admin@maiscapinhas.com.br
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: abc-123
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Credenciais inválidas'
                    type: object
                    example:
                      message: 'The provided credentials are incorrect.'
                      errors:
                        email:
                          - 'The provided credentials are incorrect.'
                    properties:
                      message:
                        type: string
                        example: 'The provided credentials are incorrect.'
                      errors:
                        type: object
                        properties:
                          email:
                            type: array
                            example:
                              - 'The provided credentials are incorrect.'
                            items:
                              type: string
                  -
                    description: 'Conta desativada'
                    type: object
                    example:
                      message: 'This account is deactivated.'
                      errors:
                        email:
                          - 'This account is deactivated.'
                    properties:
                      message:
                        type: string
                        example: 'This account is deactivated.'
                      errors:
                        type: object
                        properties:
                          email:
                            type: array
                            example:
                              - 'This account is deactivated.'
                            items:
                              type: string
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email do usuário.'
                  example: admin@maiscapinhas.com.br
                password:
                  type: string
                  description: 'Senha do usuário.'
                  example: password
                device_name:
                  type: string
                  description: 'Nome do dispositivo (opcional, usado para identificar tokens).'
                  example: postman-dev
              required:
                - email
                - password
      security: []
  /api/v1/auth/forgot-password:
    post:
      summary: 'Solicitar recuperação de senha'
      operationId: solicitarRecuperaoDeSenha
      description: "Envia um email com link para redefinir a senha.\nO link expira em 60 minutos.\n\n**Quem pode usar:** Qualquer usuário com email cadastrado.\n\n**Rate Limit:** 3 tentativas por minuto por IP."
      parameters: []
      responses:
        200:
          description: 'Email enviado'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Email de recuperação enviado.'
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Email de recuperação enviado.'
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        422:
          description: 'Email não encontrado'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Não encontramos um usuário com esse email.'
                properties:
                  message:
                    type: string
                    example: 'Não encontramos um usuário com esse email.'
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email cadastrado.'
                  example: joao@maiscapinhas.com.br
              required:
                - email
      security: []
  /api/v1/auth/forgot-password/whatsapp:
    post:
      summary: 'Solicitar recuperação de senha via WhatsApp'
      operationId: solicitarRecuperaoDeSenhaViaWhatsApp
      description: "Envia um código de 6 dígitos via WhatsApp para redefinir a senha.\nO código expira em 15 minutos.\n\n**Quem pode usar:** Qualquer usuário com email ou WhatsApp cadastrado.\n\n**Rate Limit:** 3 tentativas por minuto por IP."
      parameters: []
      responses:
        200:
          description: 'Código enviado'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Código enviado via WhatsApp.'
                    phone_masked: '****9999'
                    expires_in_minutes: 15
                  meta:
                    timestamp: '2026-01-13T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Código enviado via WhatsApp.'
                      phone_masked:
                        type: string
                        example: '****9999'
                      expires_in_minutes:
                        type: integer
                        example: 15
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-13T12:00:00Z'
        422:
          description: ''
          content:
            application/json:
              schema:
                oneOf:
                  -
                    description: 'Usuário não encontrado'
                    type: object
                    example:
                      message: 'Usuário não encontrado.'
                    properties:
                      message:
                        type: string
                        example: 'Usuário não encontrado.'
                  -
                    description: 'Usuário sem WhatsApp'
                    type: object
                    example:
                      message: 'Usuário não possui WhatsApp cadastrado.'
                    properties:
                      message:
                        type: string
                        example: 'Usuário não possui WhatsApp cadastrado.'
        502:
          description: 'Falha ao enviar'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Falha ao enviar código via WhatsApp. Tente novamente.'
                properties:
                  message:
                    type: string
                    example: 'Falha ao enviar código via WhatsApp. Tente novamente.'
      tags:
        - Autenticação
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email cadastrado (obrigatório se whatsapp não informado).'
                  example: joao@maiscapinhas.com.br
                  nullable: true
                whatsapp:
                  type: string
                  description: 'WhatsApp cadastrado (obrigatório se email não informado).'
                  example: '48999999999'
                  nullable: true
      security: []
  /api/v1/auth/reset-password:
    post:
      summary: 'Redefinir senha'
      operationId: redefinirSenha
      description: "Redefine a senha usando o token recebido por email.\n\n**Quem pode usar:** Qualquer usuário com token válido."
      parameters: []
      responses:
        200:
          description: 'Senha alterada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Senha alterada com sucesso.'
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Senha alterada com sucesso.'
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        422:
          description: 'Token inválido'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Token de recuperação inválido ou expirado.'
                properties:
                  message:
                    type: string
                    example: 'Token de recuperação inválido ou expirado.'
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'Token recebido por email.'
                  example: abc123...
                email:
                  type: string
                  description: 'Email do usuário.'
                  example: joao@maiscapinhas.com.br
                password:
                  type: string
                  description: 'Nova senha (mínimo 8 caracteres).'
                  example: novaSenha123
                password_confirmation:
                  type: string
                  description: 'Confirmação da nova senha.'
                  example: novaSenha123
              required:
                - token
                - email
                - password
                - password_confirmation
      security: []
  /api/v1/auth/reset-password/code:
    post:
      summary: 'Redefinir senha com código WhatsApp'
      operationId: redefinirSenhaComCdigoWhatsApp
      description: "Redefine a senha usando o código de 6 dígitos recebido via WhatsApp.\n\n**Quem pode usar:** Qualquer usuário com código válido."
      parameters: []
      responses:
        200:
          description: 'Senha alterada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Senha alterada com sucesso.'
                  meta:
                    timestamp: '2026-01-13T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Senha alterada com sucesso.'
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-13T12:00:00Z'
        422:
          description: 'Código inválido'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Código inválido ou expirado.'
                properties:
                  message:
                    type: string
                    example: 'Código inválido ou expirado.'
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                code:
                  type: string
                  description: 'Código de 6 dígitos recebido via WhatsApp.'
                  example: '123456'
                email:
                  type: string
                  description: 'Email do usuário.'
                  example: joao@maiscapinhas.com.br
                password:
                  type: string
                  description: 'Nova senha (mínimo 8 caracteres).'
                  example: novaSenha123
                password_confirmation:
                  type: string
                  description: 'Confirmação da nova senha.'
                  example: novaSenha123
              required:
                - code
                - email
                - password
                - password_confirmation
      security: []
  /api/v1/auth/logout:
    post:
      summary: 'Fazer logout (revogar token atual)'
      operationId: fazerLogoutrevogarTokenAtual
      description: "Revoga o token que foi usado para autenticar esta requisição.\nOs demais tokens do usuário (outros dispositivos) permanecem válidos.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Auditoria:** A ação de logout é registrada com IP e horário."
      parameters: []
      responses:
        200:
          description: 'Logout bem-sucedido'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Successfully logged out.'
                  meta:
                    request_id: abc-123
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Successfully logged out.'
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: abc-123
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
      tags:
        - Autenticação
  /api/v1/auth/logout-all:
    post:
      summary: 'Revogar todos os tokens'
      operationId: revogarTodosOsTokens
      description: "Revoga **todos** os tokens do usuário, desconectando-o de todos os dispositivos.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Auditoria:** A ação é registrada como logout_all."
      parameters: []
      responses:
        200:
          description: 'Todos tokens revogados'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'All tokens revoked.'
                  meta:
                    request_id: abc-123
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'All tokens revoked.'
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: abc-123
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
      tags:
        - Autenticação
  /api/v1/auth/password:
    put:
      summary: 'Alterar própria senha'
      operationId: alterarPrpriaSenha
      description: "Permite ao usuário logado alterar sua própria senha.\n\n**Quem pode usar:** Qualquer usuário autenticado."
      parameters: []
      responses:
        200:
          description: 'Senha alterada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    message: 'Senha alterada com sucesso.'
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      message:
                        type: string
                        example: 'Senha alterada com sucesso.'
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        422:
          description: 'Senha atual incorreta'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'A senha atual está incorreta.'
                properties:
                  message:
                    type: string
                    example: 'A senha atual está incorreta.'
      tags:
        - Autenticação
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                current_password:
                  type: string
                  description: 'Senha atual.'
                  example: senhaAtual123
                password:
                  type: string
                  description: 'Nova senha (mínimo 8 caracteres).'
                  example: novaSenha123
                password_confirmation:
                  type: string
                  description: 'Confirmação da nova senha.'
                  example: novaSenha123
              required:
                - current_password
                - password
                - password_confirmation
  /api/v1/me:
    get:
      summary: 'Obter perfil do usuário atual'
      operationId: obterPerfilDoUsurioAtual
      description: "Retorna os dados do usuário autenticado, incluindo as lojas\nàs quais ele tem acesso e seu papel (role) em cada uma.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Informações retornadas:**\n- Dados básicos do usuário (id, nome, email, status ativo)\n- Dados de perfil (whatsapp, avatar_url, instagram)\n- Datas para celebração (birth_date, hire_date)\n- Lista de lojas com o papel do usuário em cada uma\n\n**Papéis possíveis:**\n- `admin` - Administrador global (acesso total)\n- `gerente` - Gerente da loja (gerencia vendedores e metas)\n- `conferente` - Confere fechamentos de caixa\n- `vendedor` - Vendedor (registra vendas e turnos)"
      parameters: []
      responses:
        200:
          description: 'Perfil com múltiplas lojas'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    user:
                      id: 1
                      name: 'Admin Sistema'
                      email: admin@maiscapinhas.com.br
                      active: true
                      whatsapp: '47999999999'
                      avatar_url: 'https://example.com/avatar.jpg'
                      instagram: '@maiscapinhas'
                      birth_date: '1990-05-15'
                      hire_date: '2022-01-09'
                      created_at: '2026-01-01T00:00:00+00:00'
                    stores:
                      -
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                        city: Tijucas
                        role: admin
                      -
                        id: 2
                        name: 'Mais Capinhas Itapema'
                        city: Itapema
                        role: admin
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Admin Sistema'
                          email:
                            type: string
                            example: admin@maiscapinhas.com.br
                          active:
                            type: boolean
                            example: true
                          whatsapp:
                            type: string
                            example: '47999999999'
                          avatar_url:
                            type: string
                            example: 'https://example.com/avatar.jpg'
                          instagram:
                            type: string
                            example: '@maiscapinhas'
                          birth_date:
                            type: string
                            example: '1990-05-15'
                          hire_date:
                            type: string
                            example: '2022-01-09'
                          created_at:
                            type: string
                            example: '2026-01-01T00:00:00+00:00'
                      stores:
                        type: array
                        example:
                          -
                            id: 1
                            name: 'Mais Capinhas Tijucas'
                            city: Tijucas
                            role: admin
                          -
                            id: 2
                            name: 'Mais Capinhas Itapema'
                            city: Itapema
                            role: admin
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Mais Capinhas Tijucas'
                            city:
                              type: string
                              example: Tijucas
                            role:
                              type: string
                              example: admin
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
      tags:
        - 'Perfil do Usuário'
    put:
      summary: 'Atualizar perfil do usuário atual'
      operationId: atualizarPerfilDoUsurioAtual
      description: "Permite ao usuário autenticado atualizar seus próprios dados de perfil.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Campos editáveis:**\n- `email` - Deve ser único e válido\n- `whatsapp` - Formato brasileiro (opcional)"
      parameters: []
      responses:
        200:
          description: 'Perfil atualizado'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    user:
                      id: 1
                      name: 'Admin Sistema'
                      email: novoemail@maiscapinhas.com.br
                      active: true
                      whatsapp: '47988887777'
                      avatar_url: 'https://example.com/avatar.jpg'
                      instagram: '@maiscapinhas'
                      birth_date: '1990-05-15'
                      hire_date: '2022-01-09'
                      created_at: '2026-01-01T00:00:00+00:00'
                    stores:
                      -
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                        city: Tijucas
                        role: admin
                  meta:
                    timestamp: '2026-01-10T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: integer
                            example: 1
                          name:
                            type: string
                            example: 'Admin Sistema'
                          email:
                            type: string
                            example: novoemail@maiscapinhas.com.br
                          active:
                            type: boolean
                            example: true
                          whatsapp:
                            type: string
                            example: '47988887777'
                          avatar_url:
                            type: string
                            example: 'https://example.com/avatar.jpg'
                          instagram:
                            type: string
                            example: '@maiscapinhas'
                          birth_date:
                            type: string
                            example: '1990-05-15'
                          hire_date:
                            type: string
                            example: '2022-01-09'
                          created_at:
                            type: string
                            example: '2026-01-01T00:00:00+00:00'
                      stores:
                        type: array
                        example:
                          -
                            id: 1
                            name: 'Mais Capinhas Tijucas'
                            city: Tijucas
                            role: admin
                        items:
                          type: object
                          properties:
                            id:
                              type: integer
                              example: 1
                            name:
                              type: string
                              example: 'Mais Capinhas Tijucas'
                            city:
                              type: string
                              example: Tijucas
                            role:
                              type: string
                              example: admin
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-10T12:00:00Z'
        422:
          description: 'Validação falhou'
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The email has already been taken.'
                  errors:
                    email:
                      - 'The email has already been taken.'
                properties:
                  message:
                    type: string
                    example: 'The email has already been taken.'
                  errors:
                    type: object
                    properties:
                      email:
                        type: array
                        example:
                          - 'The email has already been taken.'
                        items:
                          type: string
      tags:
        - 'Perfil do Usuário'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: 'Email do usuário.'
                  example: usuario@email.com
                whatsapp:
                  type: string
                  description: 'Número de WhatsApp.'
                  example: '47999999999'
                  nullable: true
  /api/v1/me/screens:
    get:
      summary: 'Obter telas acessíveis ao usuário'
      operationId: obterTelasAcessveisAoUsurio
      description: "Retorna todas as telas (screens) que o usuário pode acessar,\nconsolidadas de todos os módulos ativos.\n\n**Quem pode usar:** Qualquer usuário autenticado."
      parameters: []
      responses:
        200:
          description: 'Telas acessíveis'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    screens:
                      -
                        module_id: pedidos-simples
                        name: pedidos.list
                        display_name: 'Lista de Pedidos'
                        path: /pedidos
                      -
                        module_id: capas-personalizadas
                        name: capas.list
                        display_name: 'Lista de Capas'
                        path: /capas
                    total: 8
                properties:
                  data:
                    type: object
                    properties:
                      screens:
                        type: array
                        example:
                          -
                            module_id: pedidos-simples
                            name: pedidos.list
                            display_name: 'Lista de Pedidos'
                            path: /pedidos
                          -
                            module_id: capas-personalizadas
                            name: capas.list
                            display_name: 'Lista de Capas'
                            path: /capas
                        items:
                          type: object
                          properties:
                            module_id:
                              type: string
                              example: pedidos-simples
                            name:
                              type: string
                              example: pedidos.list
                            display_name:
                              type: string
                              example: 'Lista de Pedidos'
                            path:
                              type: string
                              example: /pedidos
                      total:
                        type: integer
                        example: 8
      tags:
        - 'Perfil do Usuário'
  /api/v1/stores:
    get:
      summary: 'Listar lojas do usuário'
      operationId: listarLojasDoUsurio
      description: "Retorna todas as lojas ativas às quais o usuário autenticado tem acesso.\nCada loja inclui o papel (role) do usuário naquela loja.\n\n**Quem pode usar:** Qualquer usuário autenticado.\n\n**Regras:**\n- Apenas lojas ativas (`active = true`) são retornadas\n- Apenas lojas onde o usuário está vinculado são listadas"
      parameters: []
      responses:
        200:
          description: 'Lista de lojas'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'Mais Capinhas Tijucas'
                      city: Tijucas
                      role: admin
                    -
                      id: 2
                      name: 'Mais Capinhas Itapema'
                      city: Itapema
                      role: gerente
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                        city: Tijucas
                        role: admin
                      -
                        id: 2
                        name: 'Mais Capinhas Itapema'
                        city: Itapema
                        role: gerente
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'Mais Capinhas Tijucas'
                        city:
                          type: string
                          example: Tijucas
                        role:
                          type: string
                          example: admin
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
      tags:
        - Lojas
  /api/v1/stores/all:
    get:
      summary: 'Listar todas as lojas ativas'
      operationId: listarTodasAsLojasAtivas
      description: "Retorna todas as lojas ativas do sistema (sem verificação de vínculo).\nÚtil para selects de filtro por cidade/loja.\n\n**Quem pode usar:** Qualquer usuário autenticado."
      parameters:
        -
          in: query
          name: per_page
          description: 'Itens por página (1-100, default: 100).'
          example: 100
          required: false
          schema:
            type: integer
            description: 'Itens por página (1-100, default: 100).'
            example: 100
        -
          in: query
          name: city
          description: 'Filtrar por cidade.'
          example: Tijucas
          required: false
          schema:
            type: string
            description: 'Filtrar por cidade.'
            example: Tijucas
      responses:
        200:
          description: 'Lista de lojas'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 1
                      name: 'Mais Capinhas Tijucas'
                      city: Tijucas
                    -
                      id: 2
                      name: 'Mais Capinhas Itapema'
                      city: Itapema
                  meta:
                    current_page: 1
                    per_page: 100
                    total: 3
                    last_page: 1
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 1
                        name: 'Mais Capinhas Tijucas'
                        city: Tijucas
                      -
                        id: 2
                        name: 'Mais Capinhas Itapema'
                        city: Itapema
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 1
                        name:
                          type: string
                          example: 'Mais Capinhas Tijucas'
                        city:
                          type: string
                          example: Tijucas
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                        example: 1
                      per_page:
                        type: integer
                        example: 100
                      total:
                        type: integer
                        example: 3
                      last_page:
                        type: integer
                        example: 1
      tags:
        - Lojas
  '/api/v1/stores/{id}':
    get:
      summary: 'Obter detalhes de uma loja'
      operationId: obterDetalhesDeUmaLoja
      description: "Retorna os detalhes de uma loja específica, se o usuário tiver acesso.\n\n**Quem pode usar:** Usuários com vínculo na loja.\n\n**Erros possíveis:**\n- `403` - Usuário não tem acesso a esta loja\n- `404` - Loja não encontrada"
      parameters: []
      responses:
        200:
          description: 'Loja encontrada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    id: 1
                    name: 'Mais Capinhas Tijucas'
                    city: Tijucas
                    active: true
                    role: admin
                    created_at: '2026-01-01T00:00:00+00:00'
                  meta:
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      id:
                        type: integer
                        example: 1
                      name:
                        type: string
                        example: 'Mais Capinhas Tijucas'
                      city:
                        type: string
                        example: Tijucas
                      active:
                        type: boolean
                        example: true
                      role:
                        type: string
                        example: admin
                      created_at:
                        type: string
                        example: '2026-01-01T00:00:00+00:00'
                  meta:
                    type: object
                    properties:
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        403:
          description: 'Sem acesso'
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 403
                    message: 'You do not have access to this store.'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 403
                      message:
                        type: string
                        example: 'You do not have access to this store.'
      tags:
        - Lojas
    parameters:
      -
        in: path
        name: id
        description: 'The ID of the store.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: store
        description: 'ID da loja.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/stores/{store_id}/sellers':
    get:
      summary: 'Listar vendedores de uma loja'
      operationId: listarVendedoresDeUmaLoja
      description: "Retorna todos os vendedores ativos vinculados a uma loja,\ncom estatísticas do mês atual.\n\n**Quem pode usar:** Gerentes e Admins da loja."
      parameters:
        -
          in: query
          name: month
          description: 'Mês para estatísticas (YYYY-MM).'
          example: 2026-01
          required: false
          schema:
            type: string
            description: 'Mês para estatísticas (YYYY-MM).'
            example: 2026-01
      responses:
        200:
          description: 'Lista de vendedores'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      id: 5
                      name: 'João Silva'
                      avatar_url: 'https://...'
                      role: vendedor
                      total_sold_mtd: 45000.0
                      goal: 50000.0
                      achievement_rate: 90.0
                      ranking_position: 2
                properties:
                  data:
                    type: array
                    example:
                      -
                        id: 5
                        name: 'João Silva'
                        avatar_url: 'https://...'
                        role: vendedor
                        total_sold_mtd: 45000
                        goal: 50000
                        achievement_rate: 90
                        ranking_position: 2
                    items:
                      type: object
                      properties:
                        id:
                          type: integer
                          example: 5
                        name:
                          type: string
                          example: 'João Silva'
                        avatar_url:
                          type: string
                          example: 'https://...'
                        role:
                          type: string
                          example: vendedor
                        total_sold_mtd:
                          type: number
                          example: 45000.0
                        goal:
                          type: number
                          example: 50000.0
                        achievement_rate:
                          type: number
                          example: 90.0
                        ranking_position:
                          type: integer
                          example: 2
      tags:
        - Lojas
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                month:
                  type: string
                  description: 'Must match the regex /^\d{4}-\d{2}$/.'
                  example: 6425-59
    parameters:
      -
        in: path
        name: store_id
        description: 'The ID of the store.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: store
        description: 'ID da loja.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/stores/{store_id}/users':
    get:
      summary: 'Listar todos os usuários de uma loja'
      operationId: listarTodosOsUsuriosDeUmaLoja
      description: "Retorna todos os usuários vinculados a uma loja específica.\n\n**Quem pode usar:** Qualquer usuário autenticado."
      parameters: []
      responses:
        200:
          description: 'Lista de usuários'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    -
                      user_id: 2
                      user_name: 'Carlos Gerente'
                      user_email: carlos.gerente@maiscapinhas.com.br
                      role: gerente
                      active: true
                properties:
                  data:
                    type: array
                    example:
                      -
                        user_id: 2
                        user_name: 'Carlos Gerente'
                        user_email: carlos.gerente@maiscapinhas.com.br
                        role: gerente
                        active: true
                    items:
                      type: object
                      properties:
                        user_id:
                          type: integer
                          example: 2
                        user_name:
                          type: string
                          example: 'Carlos Gerente'
                        user_email:
                          type: string
                          example: carlos.gerente@maiscapinhas.com.br
                        role:
                          type: string
                          example: gerente
                        active:
                          type: boolean
                          example: true
      tags:
        - Lojas
    parameters:
      -
        in: path
        name: store_id
        description: 'The ID of the store.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: store
        description: 'ID da loja.'
        example: 1
        required: true
        schema:
          type: integer
  '/api/v1/stores/{store_id}/photo':
    put:
      summary: 'Atualizar foto da loja (fachada)'
      operationId: atualizarFotoDaLojafachada
      description: "Permite atualizar a foto de fachada da loja.\n\n**Quem pode usar:**\n- Admins (qualquer loja)\n- Gerentes (apenas sua loja)\n\n**Validações:**\n- Tipos: jpg, jpeg, png, webp\n- Tamanho máximo: 5MB\n- Dimensões mínimas: 800x600px"
      parameters: []
      responses:
        200:
          description: 'Foto atualizada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    store_id: 1
                    photo_url: 'https://api.maiscapinhas.com.br/storage/stores/1/photo.jpg'
                  meta:
                    request_id: uuid
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      store_id:
                        type: integer
                        example: 1
                      photo_url:
                        type: string
                        example: 'https://api.maiscapinhas.com.br/storage/stores/1/photo.jpg'
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: uuid
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        403:
          description: 'Sem permissão'
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 403
                    message: 'Você não tem permissão para atualizar esta foto.'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 403
                      message:
                        type: string
                        example: 'Você não tem permissão para atualizar esta foto.'
      tags:
        - Lojas
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photo:
                  type: string
                  format: binary
                  description: 'Arquivo de imagem da fachada.'
                remove:
                  type: boolean
                  description: 'Remover foto atual.'
                  example: false
              required:
                - photo
    post:
      summary: 'Atualizar foto da loja (fachada)'
      operationId: atualizarFotoDaLojafachada
      description: "Permite atualizar a foto de fachada da loja.\n\n**Quem pode usar:**\n- Admins (qualquer loja)\n- Gerentes (apenas sua loja)\n\n**Validações:**\n- Tipos: jpg, jpeg, png, webp\n- Tamanho máximo: 5MB\n- Dimensões mínimas: 800x600px"
      parameters: []
      responses:
        200:
          description: 'Foto atualizada'
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    store_id: 1
                    photo_url: 'https://api.maiscapinhas.com.br/storage/stores/1/photo.jpg'
                  meta:
                    request_id: uuid
                    timestamp: '2026-01-07T12:00:00Z'
                properties:
                  data:
                    type: object
                    properties:
                      store_id:
                        type: integer
                        example: 1
                      photo_url:
                        type: string
                        example: 'https://api.maiscapinhas.com.br/storage/stores/1/photo.jpg'
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: uuid
                      timestamp:
                        type: string
                        example: '2026-01-07T12:00:00Z'
        403:
          description: 'Sem permissão'
          content:
            application/json:
              schema:
                type: object
                example:
                  error:
                    code: 403
                    message: 'Você não tem permissão para atualizar esta foto.'
                properties:
                  error:
                    type: object
                    properties:
                      code:
                        type: integer
                        example: 403
                      message:
                        type: string
                        example: 'Você não tem permissão para atualizar esta foto.'
      tags:
        - Lojas
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                photo:
                  type: string
                  format: binary
                  description: 'Arquivo de imagem da fachada.'
                remove:
                  type: boolean
                  description: 'Remover foto atual.'
                  example: false
              required:
                - photo
    parameters:
      -
        in: path
        name: store_id
        description: 'The ID of the store.'
        example: 1
        required: true
        schema:
          type: integer
      -
        in: path
        name: store
        description: 'ID da loja.'
        example: 1
        required: true
        schema:
          type: integer
  /api/v1/pdv/sync:
    post:
      summary: 'Ingerir payload do PDV Sync'
      operationId: ingerirPayloadDoPDVSync
      description: "Recebe o payload bruto do agente PDV e cria o registro de sync.\nO processamento pesado e executado em fila."
      parameters:
        -
          in: header
          name: X-PDV-Schema-Version
          description: ''
          example: 'string Versao do schema enviada no header. Esperado: `3.0` ou `3.1`. Example: 3.1'
          schema:
            type: string
        -
          in: header
          name: X-PDV-Timestamp
          description: ''
          example: 'integer Timestamp Unix para assinatura HMAC (obrigatorio em modo HMAC). Example: 1765212000'
          schema:
            type: string
        -
          in: header
          name: X-PDV-Signature
          description: ''
          example: 'string Assinatura HMAC SHA-256 no formato hex (ou `sha256=...`). Example: 9b7a3f...'
          schema:
            type: string
        -
          in: header
          name: X-Request-Id
          description: ''
          example: 'string ID de correlacao opcional. Example: req-pdv-001'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: duplicate
                    duplicate: true
                    sync_id: a1b2c3d4e5f6
                    message: 'Sync already received.'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: duplicate
                      duplicate:
                        type: boolean
                        example: true
                      sync_id:
                        type: string
                        example: a1b2c3d4e5f6
                      message:
                        type: string
                        example: 'Sync already received.'
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    status: created
                    processing_status: queued
                    duplicate: false
                    sync_id: a1b2c3d4e5f6
                    pdv_sync_id: 31
                    schema_version: '3.0'
                    event_type: mixed
                    request_id: req-pdv-001
                    timestamp_mode: tolerant
                    timestamp_out_of_window: false
                    risk_flags: []
                    auth_mode: hmac
                    message: 'Sync received and queued for processing.'
                  meta:
                    request_id: req-pdv-001
                    timestamp: '2026-02-12T10:00:00+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: created
                      processing_status:
                        type: string
                        example: queued
                      duplicate:
                        type: boolean
                        example: false
                      sync_id:
                        type: string
                        example: a1b2c3d4e5f6
                      pdv_sync_id:
                        type: integer
                        example: 31
                      schema_version:
                        type: string
                        example: '3.0'
                      event_type:
                        type: string
                        example: mixed
                      request_id:
                        type: string
                        example: req-pdv-001
                      timestamp_mode:
                        type: string
                        example: tolerant
                      timestamp_out_of_window:
                        type: boolean
                        example: false
                      risk_flags:
                        type: array
                        example: []
                      auth_mode:
                        type: string
                        example: hmac
                      message:
                        type: string
                        example: 'Sync received and queued for processing.'
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: req-pdv-001
                      timestamp:
                        type: string
                        example: '2026-02-12T10:00:00+00:00'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Missing or invalid webhook authentication headers.'
                properties:
                  message:
                    type: string
                    example: 'Missing or invalid webhook authentication headers.'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Invalid webhook signature.'
                properties:
                  message:
                    type: string
                    example: 'Invalid webhook signature.'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  error: validation
                  message: 'Payload does not match JSON schema.'
                  details:
                    schema:
                      - ...
                properties:
                  error:
                    type: string
                    example: validation
                  message:
                    type: string
                    example: 'Payload does not match JSON schema.'
                  details:
                    type: object
                    properties:
                      schema:
                        type: array
                        example:
                          - ...
                        items:
                          type: string
        503:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Webhook service unavailable.'
                properties:
                  message:
                    type: string
                    example: 'Webhook service unavailable.'
      tags:
        - 'PDV - Sync'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                schema_version:
                  type: string
                  description: 'Versao do schema. Valores aceitos: `3.0` ou `3.1`.'
                  example: '3.1'
                event_type:
                  type: string
                  description: 'Tipo do evento (`sales`, `turno_closure`, `mixed`).'
                  example: mixed
                agent:
                  type: object
                  description: ''
                  example: null
                  properties:
                    version:
                      type: string
                      description: 'Must not be greater than 20 characters.'
                      example: vdljnikhwaykcmyu
                    machine:
                      type: string
                      description: 'Must not be greater than 120 characters.'
                      example: w
                    sent_at:
                      type: string
                      description: 'Must be a valid date.'
                      example: '2026-02-13T14:00:06'
                store:
                  type: object
                  description: 'Dados da loja origem.'
                  example: []
                  properties:
                    id_ponto_venda:
                      type: integer
                      description: 'ID da loja no PDV.'
                      example: 13
                    nome:
                      type: string
                      description: 'Nome da loja no PDV.'
                      example: 'Mais Capinhas Porto Belo'
                    alias:
                      type: string
                      description: 'Alias da loja no agente.'
                      example: porto-belo-13
                    cnpj:
                      type: string
                      description: 'CNPJ da loja (quando disponivel no agente).'
                      example: '61063019000333'
                      nullable: true
                  required:
                    - id_ponto_venda
                window:
                  type: object
                  description: 'Janela de sincronizacao.'
                  example: []
                  properties:
                    from:
                      type: string
                      description: 'Inicio da janela (ISO-8601).'
                      example: '2026-02-12T09:50:00-03:00'
                    to:
                      type: string
                      description: 'Fim da janela (ISO-8601).'
                      example: '2026-02-12T10:00:00-03:00'
                    minutes:
                      type: integer
                      description: 'Duracao da janela em minutos.'
                      example: 10
                  required:
                    - from
                    - to
                turnos:
                  type: array
                  description: 'Lista de turnos relacionados.'
                  example:
                    - architecto
                  items:
                    type: string
                vendas:
                  type: array
                  description: 'Lista de vendas da janela.'
                  example:
                    - architecto
                  items:
                    type: string
                resumo:
                  type: object
                  description: ''
                  example: null
                  properties:
                    by_vendor:
                      type: array
                      description: ''
                      example: null
                      items:
                        type: object
                        properties:
                          login:
                            type: string
                            description: 'Login do vendedor no resumo agregado (contrato atual, enviado em payloads 3.0/3.1).'
                            example: maria.silva
                            nullable: true
                snapshot_turnos:
                  type: array
                  description: 'Snapshot dos ultimos turnos fechados.'
                  example:
                    - architecto
                  items:
                    type: string
                snapshot_vendas:
                  type: array
                  description: 'Snapshot das ultimas vendas.'
                  example:
                    - architecto
                  items:
                    type: string
                ops:
                  type: object
                  description: 'Metadados operacionais da janela.'
                  example: []
                  properties:
                    count:
                      type: integer
                      description: 'Quantidade de operacoes de caixa (`HIPER_CAIXA`).'
                      example: 5
                    ids:
                      type: array
                      description: 'IDs de operacao do canal caixa.'
                      example:
                        - 12345
                        - 12346
                      items:
                        type: integer
                    loja_count:
                      type: integer
                      description: 'Quantidade de operacoes do canal loja (`HIPER_LOJA`).'
                      example: 2
                    loja_ids:
                      type: array
                      description: 'IDs de operacao do canal loja.'
                      example:
                        - 99001
                        - 99002
                      items:
                        type: integer
                integrity:
                  type: object
                  description: 'Bloco de integridade.'
                  example: []
                  properties:
                    sync_id:
                      type: string
                      description: 'Identificador deterministico do sync.'
                      example: a1b2c3d4e5f6
                    warnings:
                      type: array
                      description: 'Warnings operacionais emitidos pelo agente.'
                      example:
                        - architecto
                      items:
                        type: string
                  required:
                    - sync_id
              required:
                - schema_version
                - store
                - window
                - integrity
      security: []
  /api/v1/pdv/reports/turnos:
    get:
      summary: 'Listar turnos PDV por data'
      operationId: listarTurnosPDVPorData
      description: "Retorna os turnos da data informada com consolidado de fechamento de caixa\ne totais por tipo de pagamento (`sistema`, `declarado`, `falta`)."
      parameters:
        -
          in: query
          name: store_id
          description: 'ID da loja interna (`stores.id`). Obrigatorio se `store_pdv_id` nao for informado.'
          example: 1
          required: false
          schema:
            type: integer
            description: 'ID da loja interna (`stores.id`). Obrigatorio se `store_pdv_id` nao for informado.'
            example: 1
            nullable: true
        -
          in: query
          name: store_pdv_id
          description: 'ID da loja no PDV (`store.id_ponto_venda`). Obrigatorio se `store_id` nao for informado.'
          example: 13
          required: false
          schema:
            type: integer
            description: 'ID da loja no PDV (`store.id_ponto_venda`). Obrigatorio se `store_id` nao for informado.'
            example: 13
            nullable: true
        -
          in: query
          name: store_alias
          description: 'Alias da loja PDV para desambiguar quando `store_pdv_id` colide.'
          example: 'Loja 8 - MC Mata Atlântica'
          required: false
          schema:
            type: string
            description: 'Alias da loja PDV para desambiguar quando `store_pdv_id` colide.'
            example: 'Loja 8 - MC Mata Atlântica'
            nullable: true
        -
          in: query
          name: date
          description: 'Data de referencia no formato `YYYY-MM-DD`.'
          example: '2026-02-12'
          required: true
          schema:
            type: string
            description: 'Data de referencia no formato `YYYY-MM-DD`.'
            example: '2026-02-12'
        -
          in: query
          name: sequencial
          description: 'Filtrar por numero sequencial do turno.'
          example: 2
          required: false
          schema:
            type: integer
            description: 'Filtrar por numero sequencial do turno.'
            example: 2
            nullable: true
        -
          in: query
          name: periodo
          description: 'Filtrar por periodo do turno. Valores: `MATUTINO`, `VESPERTINO`, `NOTURNO`.'
          example: MATUTINO
          required: false
          schema:
            type: string
            description: 'Filtrar por periodo do turno. Valores: `MATUTINO`, `VESPERTINO`, `NOTURNO`.'
            example: MATUTINO
            nullable: true
        -
          in: query
          name: fechado
          description: 'Filtrar status do turno (`true/false` ou `1/0`).'
          example: true
          required: false
          schema:
            type: boolean
            description: 'Filtrar status do turno (`true/false` ou `1/0`).'
            example: true
            nullable: true
        -
          in: query
          name: operador_id
          description: 'Filtrar por operador do turno (`operador_pdv_id`).'
          example: 12
          required: false
          schema:
            type: integer
            description: 'Filtrar por operador do turno (`operador_pdv_id`).'
            example: 12
            nullable: true
        -
          in: query
          name: responsavel_id
          description: 'Filtrar por responsavel do turno (`responsavel_pdv_id`).'
          example: 80
          required: false
          schema:
            type: integer
            description: 'Filtrar por responsavel do turno (`responsavel_pdv_id`).'
            example: 80
            nullable: true
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  data:
                    filters:
                      store_id: 1
                      store_pdv_id: 13
                      date: '2026-02-12'
                      sequencial: null
                      periodo: null
                      fechado: null
                      operador_id: null
                      responsavel_id: null
                    summary:
                      qtd_turnos: 1
                      qtd_turnos_fechados: 1
                      qtd_turnos_falta: 1
                      qtd_turnos_sobra: 0
                      qtd_turnos_conferido: 0
                      total_sistema: 1250.9
                      total_declarado: 1240
                      total_falta: 10.9
                      total_falta_absoluto: 10.9
                    turnos: []
                  meta:
                    request_id: req-123
                    timestamp: '2026-02-12T10:00:00+00:00'
                properties:
                  data:
                    type: object
                    properties:
                      filters:
                        type: object
                        properties:
                          store_id:
                            type: integer
                            example: 1
                          store_pdv_id:
                            type: integer
                            example: 13
                          date:
                            type: string
                            example: '2026-02-12'
                          sequencial:
                            type: string
                            example: null
                          periodo:
                            type: string
                            example: null
                          fechado:
                            type: string
                            example: null
                          operador_id:
                            type: string
                            example: null
                          responsavel_id:
                            type: string
                            example: null
                      summary:
                        type: object
                        properties:
                          qtd_turnos:
                            type: integer
                            example: 1
                          qtd_turnos_fechados:
                            type: integer
                            example: 1
                          qtd_turnos_falta:
                            type: integer
                            example: 1
                          qtd_turnos_sobra:
                            type: integer
                            example: 0
                          qtd_turnos_conferido:
                            type: integer
                            example: 0
                          total_sistema:
                            type: number
                            example: 1250.9
                          total_declarado:
                            type: integer
                            example: 1240
                          total_falta:
                            type: number
                            example: 10.9
                          total_falta_absoluto:
                            type: number
                            example: 10.9
                      turnos:
                        type: array
                        example: []
                  meta:
                    type: object
                    properties:
                      request_id:
                        type: string
                        example: req-123
                      timestamp:
                        type: string
                        example: '2026-02-12T10:00:00+00:00'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'Voce nao tem acesso a esta loja.'
                properties:
                  message:
                    type: string
                    example: 'Voce nao tem acesso a esta loja.'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: 'The given data was invalid.'
                  errors:
                    store:
                      - 'Informe store_id ou store_pdv_id.'
                properties:
                  message:
                    type: string
                    example: 'The given data was invalid.'
                  errors:
                    type: object
                    properties:
                      store:
                        type: array
                        example:
                          - 'Informe store_id ou store_pdv_id.'
                        items:
                          type: string
      tags:
        - 'PDV - Relatorios'
  /api/v1/pdv/reports/vendas:
    get:
      summary: 'Listar vendas PDV com filtros inteligentes'
      operationId: listarVendasPDVComFiltrosInteligentes
      description: 'Retorna vendas com agregados de itens e pagamentos por operacao.'
      parameters:
        -
          in: query
          name: store_id
          description: 'ID da loja interna (`stores.id`).'
          example: 1
          required: false
          schema:
            type: integer
            description: 'ID da loja interna (`stores.id`).'
            example: 1
            nullable: true
        -
          in: query
          name: store_pdv_id
          description: 'ID da loja no PDV (`store.id_ponto_venda`).'
          example: 13
          required: false
          schema:
            type: integer
            description: 'ID da loja no PDV (`store.id_ponto_venda`).'
            example: 13
            nullable: true
        -
          in: query
          name: store_alias
          description: 'Alias da loja PDV para desambiguar quando `store_pdv_id` colide.'
          example: 'Loja 8 - MC Mata Atlântica'
          required: false
          schema:
            type: string
            description: 'Alias da loja PDV para desambiguar quando `store_pdv_id` colide.'
            example: 'Loja 8 - MC Mata Atlântica'
            nullable: true
        -
          in: query
          name: from
          description: 'Data inicial (`YYYY-MM-DD`). Default: hoje-30d.'
          example: '2026-02-01'
          required: false
          schema:
            type: string
            description: 'Data inicial (`YYYY-MM-DD`). Default: hoje-30d.'
            example: '2026-02-01'
            nullable: true
        -
          in: query
          name: to
          description: 'Data final (`YYYY-MM-DD`). Default: hoje.'
          example: '2026-02-12'
          required: false
          schema:
            type: string
            description: 'Data final (`YYYY-MM-DD`). Default: hoje.'
            example: '2026-02-12'
            nullable: true
        -
          in: query
          name: vendedor_id
          description: 'Filtrar por vendedor (`vendedor_pdv_id`).'
          example: 80
          required: false
          schema:
            type: integer
            description: 'Filtrar por vendedor (`vendedor_pdv_id`).'
            example: 80
            nullable: true
        -
          in: query
          name: canal
          description: 'Filtrar por canal. Valores: `HIPER_CAIXA`, `HIPER_LOJA`.'
          example: HIPER_LOJA
          required: false
          schema:
            type: string
            description: 'Filtrar por canal. Valores: `HIPER_CAIXA`, `HIPER_LOJA`.'
[...]
